# WELCOME!

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns. 
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.
--  cumartesi, pazar,pazartesi akşam 1 nci bölüm tamamlanması
--  salı çarşamba 2nci bölüm
--  perşembe cuma 3 ncü bölüm

# PART- 1 `( Data Cleaning )`

Kütüphanelerin yüklenmesi

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
#Gerekli olabileceğini düiündüğümüz kütüphaneleri yükledik

In [81]:
import warnings
warnings.filterwarnings('ignore')
warnings.warn('this will not show')

In [2]:
#!pip3 install googletrans 
#from googletrans import Translator, constants
#from pprint import pprint
##google translatör ihtiyaç olabileceğini düşünerek yükledik

In [3]:
df=pd.read_json("scout_car.json", lines=True) #github üzerinden proje dokümanı indirildi ve açıldı.

# Step 1.1 Introduction to data

In [4]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,15909,15910,15911,15912,15913,15914,15915,15916,15917,15918
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-sp...,...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...
make_model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,...,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,1.4 TDi Design S tronic,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,1.6 TDI Sport DSG *SHZ*Xenon*Navi*Bose*PDC*,Sportback 1.6 TDI S-TRONIC S-LINE*NAVI|XENON*,Sportback 1.4 TDI admired S tronic,SPB 1.6 TDI S-tronic Metal plus + Xeno,SPORTBACK TFSI ULTRA 95 S-TRONIC AMB.,...,Limited Blue dCi 200 EDC,TCe 225 EDC INITIALE PDC SHZ BOSE KLIMA,ELYSEE ENERGY dCi 160 EDC,Blue dCi 200CV EDC Executive 4Control,INITIALE Paris TCe 225 EDC GPF ACC EU6,Blue dCi 200CV EDC Executive 4Control,"TCe 225 EDC GPF LIM Deluxe Pano,RFK",Blue dCi 200 EDC Initiale Paris Leder LED Navi...,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX
body_type,Sedans,Sedans,Sedans,Sedans,Sedans,Sedans,Station wagon,Compact,Sedans,Sedans,...,Van,Van,Van,Van,Van,Van,Van,Van,Van,Van
price,15770,14500,14640,14500,16790,15090,16422,14480,16700,17990,...,39990,39980,39980,39950,39950,39950,39885,39875,39700,40999
vat,VAT deductible,Price negotiable,VAT deductible,None,None,None,VAT deductible,VAT deductible,None,None,...,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible
km,"56,013 km","80,000 km","83,450 km","73,000 km","16,200 km","63,668 km","62,111 km","14,986 km","57,000 km","16,103 km",...,"3,500 km","8,500 km",100 km,- km,"1,000 km",- km,"9,900 km",15 km,10 km,- km
registration,01/2016,03/2017,02/2016,08/2016,05/2016,02/2016,03/2016,02/2016,02/2016,06/2017,...,05/2019,02/2019,02/2019,-/-,04/2019,-/-,01/2019,03/2019,06/2019,01/2019
prev_owner,2 previous owners,None,1 previous owner,1 previous owner,1 previous owner,1 previous owner,1 previous owner,1 previous owner,1 previous owner,None,...,None,1 previous owner,1 previous owner,None,None,None,1 previous owner,1 previous owner,None,1 previous owner
kW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hp,66 kW,141 kW,85 kW,66 kW,66 kW,85 kW,85 kW,66 kW,85 kW,70 kW,...,147 kW,165 kW,118 kW,147 kW,165 kW,147 kW,165 kW,146 kW,147 kW,165 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]",...,"[, Demonstration, , Diesel (Particulate Filter)]","[, Demonstration, , Regular/Benzine E10 91]","[, Pre-registered, , Diesel (Particulate Filter)]","[, New, , Diesel (Particulate Filter)]","[, Demonstration, , Super 95]","[, New, , Diesel (Particulate Filter)]","[, Used, , Super 95 / Super Plus 98 (Particula...","[, Pre-registered, , Diesel]","[, Pre-registered, , Diesel]","[, Demonstration, , Super 95]"
Previous Owners,\n2\n,NaN,\n1\n,\n1\n,\n1\n,\n1\n,\n1\n,\n1\n,\n1\n,NaN,...,NaN,\n1\n,\n1\n,NaN,NaN,NaN,"[\n1\n, \n, 7.4 l/100 km (comb), \n, 9.2 l/100...","[\n1\n, \n139 g CO2/km (comb)\n]",NaN,\n1\n
Next Inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[\n02/2020\n, \n97 g CO2/km (comb)\n]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"[\n01/2022\n, \n168 g CO2/km (comb)\n]",NaN,NaN,NaN
Inspection new,"[\nYes\n, \nEuro 6\n]",NaN,NaN,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]",NaN,"[\nYes\n, \n98 g CO2/km (comb)\n]","[\nYes\n, \n97 g CO2/km (comb)\n]",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[\nYes\n, \nEuro 6d-TEMP\n]",NaN,"[\nYes\n, \n153 g CO2/km (comb)\n]"
Warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]",NaN,NaN,"[\n, \n, \nEuro 6\n]","[\n12 months\n, \nEuro 6\n]",\n3 months\n,...,\n48 months\n,NaN,NaN,\n24 months\n,NaN,\n24 months\n,"[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]",\n,NaN
Full Service,"[\n, \n]",NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \n4 (Green)\n]","[\n, \n, \n92 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]",NaN,NaN,...,NaN,"[\n, \n, \n153 g CO2/km (comb)\n]",NaN,NaN,NaN,NaN,NaN,"[\n, \n]",NaN,NaN
Non-smoking Vehicle,"[\n, \n]",NaN,NaN,"[\n, \n, \nEuro 6\n]","[\n, \n]","[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]",NaN,NaN,NaN,...,NaN,"[\n, \n, \nEuro 6\n]","[\n, \n, \n123 g CO2/km (comb)\n]",NaN,NaN,NaN,"[\n, \n, \n4 (Green)\n]","[\n, \n]",NaN,NaN
null,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
Make,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,...,\nRenault\n,\nRenault\n,\nRenault\n,\nRenault\n,\nRenault\n,\nRenault\n,\nRenault\n,\nRenault\n,\nRenault\n,\nRenault\n
Model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]",...,"[\n, Espace, \n]","[\n, Espace, \n]","[\n, Espace, \n]","[\n, Espace, \n]","[\n, Espace, \n]","[\n, Espace, \n]","[\n, Espace, \n]","[\n, Espace, \n]","[\n, Espace, \n]","[\n, Espace, \n]"
Offer Number,[\nLR-062483\n],NaN,[\nAM-95365\n],NaN,[\nC1626\n],[\nJV03654\n],[\n200-19\n],[\n18381A-Q2\n],[\n11540324\n],NaN,...,[\n1-15447\n],[\n1720LR8\n],[\nVB1_12468\n],[\n10988276\n],[\nNW9766\n],[\n10988301\n],[\n507370_3223\n],[\nEspace16\n],[\n2691331\n],[\nRe_30000008029\n]
First Registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2017, \n]",...,"[\n, 2019, \n]","[\n, 2019, \n]","[\n, 2019, \n]",NaN,"[\n, 2019, \n]",NaN,"[\n, 2019, \n]","[\n, 2019, \n]","[\n, 2019, \n]","[\n, 2019, \n]"
Body Color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]","[\n, Brown, \n]","[\n, Black, \n]","[\n, White, \n]","[\n, White, \n]","[\n, Red, \n]","[\n, Grey, \n]","[\n, White, \n]",...,"[\n, Black, \n]","[\n, Blue, \n]","[\n, White, \n]","[\n, Black, \n]","[\n, White, \n]","[\n, Grey, \n]","[\n, Grey, \n]","[\n, White, \n]","[\n, Grey, \n]","[\n, Grey, \n]"
Paint Type,[\nMetallic\n],NaN,[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],NaN,...,[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],NaN,NaN,[\nMetallic\n]
Body Color Original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n],NaN,[\nMythosschwarz Metallic\n],NaN,[\nGletscherweiss\n],[\nMisanorot Perleffekt\n],[\nGrigio\n],[\nBlanc\n],...,[\nBlack-Pearl\n],[\nKosmos-Blau\n],[\nPerlmutt-Weiß Metallic (Weiß)\n],[\nNero\n],[\nperlmutt-weiss\n],[\nGrigio scuro\n],[\nStahl-Grau Metallic\n],[\narktis-weiß\n],[\nGrigio\n],[\nTitanium-Grau Metallic\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]",NaN,"[\nCloth, Black\n]","[\nPart leather, Black\n]","[\nPart leather, Black\n]","[\nCloth, Black\n]","[\nCloth, Grey\n]",NaN,...,NaN,"[\nFull leather, Other\n]","[\nFull leather, Grey\n]",NaN,"[\nFull leather, Brown\n]",NaN,[\nCloth\n],"[\nFull leather, Black\n]",[\nPart leather\n],"[\nFull leather, Brown\n]"
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Station wagon, \n]","[\n, Compact, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]",...,"[\n, Van, \n]","[\n, Van, \n]","[\n, Van, \n]","[\n, Van, \n]","[\n, Van, \n]","[\n, Van, \n]","[\n, Van, \n]","[\n, Van, \n]","[\n, Van, \n]","[\n, Van, \n]"
Nr. of Doors,[\n5\n],[\n3\n],[\n4\n],[\n3\n],[\n5\n],[\n4\n],[\n4\n],[\n5\n],[\n5\n],[\n5\n],...,[\n5\n],[\n5\n],[\n5\n],[\n5\n],[\n5\n],[\n5\n],[\n5\n],[\n5\n],[\n5\n],[\n5\n]
Nr. of Seats,[\n5\n],[\n4\n],[\n4\n],[\n4\n],[\n5\n],[\n5\n],[\n5\n],[\n5\n],[\n4\n],[\n4\n],...,[\n5\n],[\n5\n],[\n7\n],[\n5\n],[\n7\n],[\n5\n],[\n5\n],[\n7\n],[\n7\n],[\n5\n]
Model Code,[\n0588/BDF\n],[\n0588/BCY\n],NaN,NaN,[\n0588/BDF\n],NaN,NaN,[\n0588/BDF\n],NaN,NaN,...,NaN,[\n3333/BHJ\n],[\n3333/BDQ\n],NaN,NaN,NaN,[\n0000/000\n],NaN,NaN,[\n3333/BHJ\n]
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]",...,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]","[\n1,422 cc\n]","[\n1,422 cc\n]","[\n1,598 cc\n]","[\n1,598 cc\n]","[\n1,422 cc\n]","[\n1,598 cc\n]",[\n999 cc\n],...,"[\n1,997 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]","[\n1,997 cc\n]","[\n1,798 cc\n]","[\n1,997 cc\n]","[\n1,798 cc\n]","[\n1,997 cc\n]","[\n1,997 cc\n]","[\n1,798 cc\n]"
Cylinders,[\n3\n],[\n4\n],NaN,[\n3\n],[\n3\n],NaN,[\n4\n],NaN,[\n4\n],NaN,...,NaN,[\n4\n],[\n4\n],[\n4\n],[\n4\n],[\n4\n],[\n4\n],[\n4\n],[\n4\n],[\n4\n]
Weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN,"[\n1,195 kg\n]",NaN,NaN,NaN,NaN,"[\n1,275 kg\n]",NaN,...,"[\n1,779 kg\n]",NaN,"[\n1,734 kg\n]","[\n1,758 kg\n]",NaN,"[\n1,758 kg\n]","[\n1,708 kg\n]",NaN,"[\n1,758 kg\n]","[\n1,685 kg\n]"
Drive chain,[\nfront\n],[\nfront\n],[\nfront\n],NaN,[\nfront\n],NaN,[\nfront\n],[\nfront\n],[\nfront\n],NaN,...,NaN,[\nfront\n],NaN,[\nfront\n],[\nfront\n],[\nfront\n],[\nfront\n],[\nfront\n],[\nfront\n],[\n4WD\n]
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]",...,"[\n, Diesel (Particulate Filter), \n]","[\n, Regular/Benzine E10 91, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Super 95, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Super 95 / Super Plus 98 (Particulate Fil...","[\n, Diesel, \n]","[\n, Diesel, \n]","[\n, Super 95, \n]"
Consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...","[[3.5 l/100 km (comb)], [4.3 l/100 km (city)],...","[[3.7 l/100 km (comb)], [4.3 l/100 km (city)],...","[[3.7 l/100 km (comb)], [4.2 l/100 km (city)],...","[[3.7 l/100 km (comb)], [4.3 l/100 km (city)],...",NaN,...,NaN,"[[6 l/100 km (comb)], [8 l/100 km (city)], [5 ...","[[4.7 l/100 km (comb)], [5.1 l/100 km (city)],...","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...","[[6.8 l/100 km (comb)], [8.7 l/100 km (city)],...","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...","[\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (ci...","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...","[[6.8 l/100 km (comb)], [8.7 l/100 km (city)],..."
CO2 Emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n109 g CO2/km (comb)\n],[\n92 g CO2/km (comb)\n],[\n98 g CO2/km (comb)\n],[\n97 g CO2/km (comb)\n],[\n97 g CO2/km (comb)\n],NaN,...,"[[], [], []]",[\n153 g CO2/km (comb)\n],[\n123 g CO2/km (comb)\n],[\n139 g CO2/km (comb)\n],[\n153 g CO2/km (comb)\n],[\n139 g CO2/km (comb)\n],[\n168 g CO2/km (comb)\n],[\n139 g CO2/km (comb)\n],[\n139 g CO2/km (comb)\n],[\n153 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],NaN,...,NaN,[\nEuro 6\n],[\nEuro 6\n],NaN,[\nEuro 6\n],NaN,NaN,[\nEuro 6d-TEMP\n],[\nEuro 6\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ...","[Air suspension, Armrest, Auxiliary heating, E...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Armrest, Electrical side mi...","[Air conditioning, Power windows]",NaN,...,"[Air conditioning, Automatic climate control, ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Automatic climate control, ..."
\nEntertainment & Media\n,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, CD player, Hands-free equipment, O...","[CD player, MP3, Radio]",[Radio],NaN,...,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Digital radio, Hands-free equipmen...","[Bluetooth, Digital radio, Hands-free equipmen...","[Bluetooth, Digital radio, Hands-free equipmen...","[Bluetooth, Digital radio, Hands-free equipmen...","[Bluetooth, Digital radio, Hands-free equipmen...","[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Digital radio, Radio, USB]",[USB]
\nExtras\n,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]","[Alloy wheels, Sport seats, Voice Control]","[Alloy wheels, Sport package, Sport suspension...","[Alloy wheels, Sport package, Sport seats, Spo...","[Alloy wheels, Sport package, Sport seats, Spo...",[Alloy wheels],[Alloy wheels],NaN,...,"[Alloy wheels, Touch screen]",[Alloy wheels],"[Alloy wheels, Touch screen, Voice Control]","[Alloy wheels, Touch screen]","[Alloy wheels, Catalytic Converter, Sport susp...","[Alloy wheels, Touch screen]","[Alloy wheels, Touch screen, Voice Control]",[Alloy wheels],"[Alloy wheels, Touch screen]","[Alloy wheels, Touch screen]"
\nSafety & Security\n,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light...","[ABS, Alarm system, Central door lock with rem...","[ABS, Central door lock, Driver-side airbag, E...","[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Driver-side airbag, E...",NaN,...,"[ABS, Blind spot monitor, Central door lock, D...","[ABS, Adaptive headlights, Central door lock, ...","[ABS, Adaptive Cruise Control, Central door lo...","[ABS, Central door lock, Central door lock wit...","[ABS, Adaptive Cruise Control, Blind spot moni...","[ABS, Central door lock, Central door lock wit...","[ABS, Adaptive Cruise Control, Blind spot moni...","[ABS, Adaptive Cruise Control, Blind spot moni...","[ABS, Blind spot monitor, Driver-side airbag, ...","[ABS, Blind spot monitor, Daytime running ligh..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",[\nSichern Sie sich diesen Audi A1 1.6 TDI Spo...,"[\nREDUZIERT !!!, MwSt. ausweisbar, Nettopreis...","[\n, Ausstattungspakete:, Ausstattungspaket: ...",[\nAuto in ottime condizioni. Unico proprietar...,"[\nClim automatique,Ecran multifonction couleu...",...,"[\nHallo!, Das Beratungsteam der Fa. Sonnleitn...","[\n, Warum ist dieses Auto das Richtige für mi...","[\n, Komfort:, , abgedunkelte Scheiben im Fon...",[\nVettura visionabile nella sede in Via Roma ...,"[\nFahrzeug-Nr.: NW9766., Ausstattungslinie/ -...",[\nVettura visionabile nella sede in Via Roma ...,"[\nDach: Panorama-Glas-Schiebedach, Lackierung...","[\n, Getriebe:, Automatik, Technik:, Bordcom...","[\nDEK:[2691331], Renault Espace Blue dCi 200C...","[\n, Sicherheit Airbags:, , Seitenairbag, , ..."
Emission Label,NaN,[\n4 (Green)\n],[\n4 (Green)\n],NaN,NaN,[\n4 (Green)\n],NaN,NaN,NaN,NaN,...,NaN,[\n4 (Green)\n],[\n4 (Green)\n],NaN,[\n4 (Green)\n],NaN,NaN,NaN,NaN,[\n4 (Green)\n]
Gears,NaN,[\n7\n],NaN,[\n6\n],NaN,NaN,NaN,[\n7\n],[\n7\n],[\n7\n],...,[\n7\n],[\n7\n],NaN,[\n6\n],NaN,[\n6\n],[\n7\n],[\n6\n],[\n6\n],NaN
Country version,NaN,NaN,NaN,NaN,[\nGermany\n],[\nGermany\n],[\nGermany\n],NaN,NaN,NaN,...,[\nAustria\n],NaN,[\nGermany\n],NaN,NaN,NaN,[\nGermany\n],[\nAustria\n],NaN,[\nGermany\n]
Electricity consumption,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"[[], [], []]",NaN,NaN,NaN
Availability,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,\nin 5 days from ordering\n,\nin 120 days from ordering\n,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Available from,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(15919, 54)

In [6]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [8]:
df.sample(5)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
10044,https://www.autoscout24.com//offers/opel-corsa...,Opel Corsa,"Active 5-Türer 1.4 66 Automatik, Sitzh.",Compact,15979,VAT deductible,"2,500 km",03/2019,1 previous owner,NaN,...,"[\n, Fahrzeugnummer: 4043111, Allgemeine Infos...",[\n4 (Green)\n],[\n6\n],[\nGermany\n],NaN,NaN,"[[], [], []]",NaN,NaN,NaN
3209,https://www.autoscout24.com//offers/audi-a3-1-...,Audi A3,1.4 TFSI Attraction (125 CV),Compact,13500,VAT deductible,"100,832 km",05/2016,None,NaN,...,"[\n, 3456JPF, Oferta de financiación, consulta...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
11712,https://www.autoscout24.com//offers/opel-insig...,Opel Insignia,"B 1,6 Diesel S/S GS Edition Navi",Sedans,17990,VAT deductible,"8,471 km",03/2017,1 previous owner,NaN,...,"[\nAngebots-Nr. J1000519, Ausstattung:, , Nav...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1355,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.0 TFSI ultra Sportback sport,Sedans,15199,Price negotiable,"17,500 km",01/2018,1 previous owner,NaN,...,"[\nVerkauf durch AUDI-Mitarbeiter, AUDI Anschl...",NaN,[\n5\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
11498,https://www.autoscout24.com//offers/opel-insig...,Opel Insignia,1.6 CDTI ecoTEC 136 CV S&S Sports Tourer Innov...,Station wagon,19900,None,"28,000 km",04/2018,None,NaN,...,"[\nDEK:[2745425], Navigatore, Retrocamera, Val...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN

    1.Çalışma kapsamında ilk önce tüm veriyi  sutun bazında  inceleyerek  verilen ilk görev kapsamında yapılması gereken hususları belirledik. 
    2.Yapılması gerekenler bir arkadaşımız tarafından  görev listesi olarak kayıt altına alındı.
    3. Yaklaşık 3 günlük grup çalışmasıyla verileri temizledik: Dtype'larını uygun hâle getirdik, veri seti içerisindeki gereksiz karakterleri sildik, liste içinde birleşik olan verileri ayırarak yeni sütunlar oluşturduk, drop edilmesi gereken sütunları drop ettik, sütun adları uygun hâle getirildi ve yapılan işlemleri her sütunda ayrıca açıkladık. 
    4.Birinci aşamayı tamamlayarak verimizi yeni bir .csv dosyasına kaydettik.

# 0 url

    1.url sutunu kullanllmayacağı için düşürüldü

In [9]:
df['url'].sample(3)

4598     https://www.autoscout24.com//offers/audi-a3-1-...
3807     https://www.autoscout24.com//offers/audi-a3-sp...
11950    https://www.autoscout24.com//offers/opel-insig...
Name: url, dtype: object

In [10]:
df.drop('url',axis=1, inplace=True)

# 1 make_model

     Yapılan incelemede Make ve model olarak aynı bilgileri veren 2 ayrı sutun daha tespit edildiğinden ve ayrı olması daha fazla esneklik sağlayacağından make_model  silinmiştir. İlaveten make ve model sutunlarında eksik bilgiler yoktur.

In [11]:
df['make_model'].value_counts(dropna=False)

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [12]:
df.drop('make_model', axis=1, inplace=True)

# 2 short_description

    İçinde yer alan bilgilerin modele ilave katkısı olmayacağı ve sutunlarda yeterince bilgi verilmesi nedeniyle silinmiştir.

In [13]:
df[['short_description','description']] # Description ile mukayese edildi.

,short_description,description
0,Sportback 1.4 TDI S-tronic Xenon Navi Klima,"[\n, Sicherheit:, , Deaktivierung für Beifahr..."
1,1.8 TFSI sport,[\nLangstreckenfahrzeug daher die hohe Kilomet...
2,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2..."
3,1.4 TDi Design S tronic,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat..."
4,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa..."
...,...,...
15914,Blue dCi 200CV EDC Executive 4Control,[\nVettura visionabile nella sede in Via Roma ...
15915,"TCe 225 EDC GPF LIM Deluxe Pano,RFK","[\nDach: Panorama-Glas-Schiebedach, Lackierung..."
15916,Blue dCi 200 EDC Initiale Paris Leder LED Navi...,"[\n, Getriebe:, Automatik, Technik:, Bordcom..."
15917,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...","[\nDEK:[2691331], Renault Espace Blue dCi 200C..."
15918,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,"[\n, Sicherheit Airbags:, , Seitenairbag, , ..."

In [14]:
df['description'][15]

["\nNICE'S CAR SRL FA PARTE DELLA COMMUNITY DI '' NON PRENDERMI PER IL CHILOMETRO ''",
 "FINANZIAMENTI AGEVOLATI CON FORMULA '' TOP CAR '' ",
 ' PER INFORMAZIONI CONTATTATE IL NOSTRO SERVIZIO VENDITE ',
 'UNICO PROPRIETARIO',
 'REGOLARMENTE TAGLIANDATA ',
 'GARANZIA ESTENDIBILE FINO A 5 ANNI CON KM ILLIMITATI',
 'KM DICHIARATI IN FATTURA',
 'ULTIMO TAGLIANDO ESEGUITO IL 06/2018 A KM 20112',
 'COLLAUDATA FINO AL 04/2020',
 'LISTA ACCESSORI DI SERIE E OPTIONAL:',
 '- SISTEMA DI NAVIGAZIONE SATELLITARE',
 '- INTERFACCIA BLUETOOTH',
 '- SEDILI SPORTIVI ANTERIORI',
 '- SENSORI DI PARCHEGGIO POSTERIORI',
 '- ASSETTO SPORTIVO',
 '- SISTEMA DI ASSISTENZA ALLA PARTENZA IN SALITA',
 '- COMANDO VOCALE',
 '- START/STOP AUTOMATICO',
 '- AUDI DRIVE SELECT',
 '- INSERTI INTERNI IN ALLUMINIO ',
 '- SPOILER POSTERIORE',
 '- SISTEMA AUDIO CONNECT (RADIO CD/LETTORE MP3)',
 '- CAMBIO AUTOMATICO S-TRONIC 7 MARCE',
 "- CERCHI IN LEGA DA 16''",
 '- VOLANTE IN PELLE MULTIFUNZIONE A TRE RAZZE',
 '- PADDLE AL VOLANTE',
 ' ',
 'SI VALUTANO EVENTUALI PERMUTE',
 "PASSAGGIO DI PROPRIETA' NON INCLUSO NEL PREZZO DI VENDITA ESPOSTO",
 'QUALSIASI PROVA E VERIFICA PRESSO LA NOSTRA SEDE CON UN VOSTRO MECCANICO O CARROZZIERE DI FIDUCIA',
 '-CONSEGNA AUTOVETTURA :',
 'Le auto acquistate presso la Nice’s car vengono consegnate con Tagliando Completo eseguito presso la nostra officina interna.',
 'Alla consegna dell’auto vi verrà rilasciata una scheda dei lavori eseguiti.',
 'Inoltre su tutte le nostre auto viene eseguita l’igenizzazione e sanificazione degli interni e trattamento all’ozono.',
 'GARANZIA AUTOVETTURA ( 5 ANNI ESTESA )',
 'Tutte le nostre autovetture vengono consegnate con Garanzia estesa 12 mesi e relativo Certificato di Conformità!',
 'La Garanzia comprende i seguenti organi ( Motore, Turbocompressore, Cambio manuale, Cambio automatico, Circuito di alimentazione, Componenti elettrici, Impianto di climatizzazione, Componenti elettronici, Circuito di raffreddamento, Impianto frenante, Differenziale, Dispositivi di trasmissione, Organi di guida ).',
 'Possibilità di estensione della Garanzia a 60 mesi con piccolo conguaglio da parte del cliente .',
 '*SERVIZI OFFERTI PRE E POST VENDITA',
 '*',
 'Officina meccanica specializzata, cambio gomme e servizio Garanzia',
 'Servizio programma Service con ritiro vettura',
 'Se necessario consegna a domicilio dell’auto da voi acquistata',
 'Soccorso stradale 24 su 24 in tutta Europa',
 'Vettura sostitutiva in caso di guasto',
 'Ufficio pratiche auto',
 'Agenzia assicurativa Cattolica',
 '*ADDETTI VENDITE',
 '*',
 'Sede di Pordenone ',
 'ENRICO 345.5534560',
 'ELIO 340.1785499',
 'MATTIA 349.1991645',
 'GINO 393.3313193',
 'Tel: 0434.552375',
 'mail: vendite@nicescar.com',
 'Sede di Udine ',
 'MASSIMILIANO 344.0299326',
 'Mail: udine@nicescar.com',
 ' vendite.ud@nicescar.com',
 'Tel: 0432.643436',
 "Nota bene: La dotazione tecnica e gli accessori indicati nella presente scheda potrebbero non coincidere con l’effettivo equipaggiamento del veicolo, a causa della non uniformità dei dati pubblicati dai diversi portali. Ci scusiamo per l’inconveniente e vi invitiamo a verificare le caratteristiche dello specifico veicolo. Nice's car srl declina ogni responsabilità per eventuali involontarie incongruenze, che non rappresentano in alcun modo un impegno contrattuale.",
 "L'eventuale proposta di acquisto verrà perfezionata all'interno dei locali commerciali della Nice's car srl dopo presa visione dell'auto\n"]

In [15]:
df['short_description'][6]

'Sportback 1.6 TDI S-TRONIC S-LINE*NAVI|XENON*'

In [16]:
df.drop('short_description', axis=1, inplace=True)

# 3 body_type

    Bu sütundaki veri tipi uygundur, sütun adı ilk harfler büyük olacak şekilde düzeltildi.

In [17]:
df['Body_Type']=df['body_type']

In [18]:
df.drop('body_type', axis=1, inplace=True)

In [19]:
df['Body_Type'].value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: Body_Type, dtype: int64

In [20]:
df['Body_Type']

0        Sedans
1        Sedans
2        Sedans
3        Sedans
4        Sedans
          ...
15914       Van
15915       Van
15916       Van
15917       Van
15918       Van
Name: Body_Type, Length: 15919, dtype: object

In [21]:
df['Body_Type'].replace('Sedans', 'Sedan', inplace=True, regex=True) # "Sedans" ifadesi "Sedan" ile değiştirldi.

# 4 price

     Bu sütun target sütunumuzdur ve sütunumuzda bu aşamada temizlenmesi gereken herhangi bir veri yoktur. Sütun adı düzeltilmiştir.

In [22]:
df[['price']].sample(5)

       price
2166   24800
1794   16900
14238   9700
11297  21750
13497   8490

In [23]:
df.rename(columns={"price":"Price"}, inplace=True)

# 5 vat

    1. Aşağıda açıklandığı üzere vergi indirimi yapılması(VAT deductable) ile pazarlık yapılabilir (Price_Negotiable)olması aynı sutunda olmaması gereken veriler olduğu için iki ayrı sutun yapılmıştır. İşlem sonucunda "vat" sutunu drop edilmiştir. Yeni sutun isimleri 'VAT_Deductable', 'Price_Negotiable' şeklinde değiştirilmiştir.  
    2. Yaptığımız alan araştırmasında VAT deductable: "Deductible value added tax (VAT) is the VAT payable on purchases of goods or services intended for intermediate consumption, gross fixed capital formation or for resale which a producer is permitted to deduct from his own VAT liability to the government in respect of VAT invoiced to his customers." olduğu görülmüştür.

In [24]:
df[['vat']].sample(5)

                  vat
4706   VAT deductible
15539            None
2903   VAT deductible
4793   VAT deductible
9353   VAT deductible

In [25]:
df['vat'].value_counts()

VAT deductible      10980
Price negotiable      426
Name: vat, dtype: int64

In [26]:
df['VAT_Deductable']=df.vat=='VAT deductible' #yeni sutun oluşturuldu

In [27]:
df['Price_Negotiable']=df.vat=='Price negotiable' #yeni sutun oluşturuldu

In [28]:
df.drop('vat', axis=1, inplace= True)  #eski sutun silindi

In [29]:
df[['VAT_Deductable','Price_Negotiable']].sample(5)

       VAT_Deductable  Price_Negotiable
4236            False             False
7303            False             False
2680            False             False
13401           False             False
5084             True             False

# 6 km

    1. "km" sütununda "km" ifadesi ve "," sembolü silinmiş, veri tipi integer yapılmış ve verisi '-' olan yerlere 0 yazılmıştır.
    2. "km" sütunundaki temizlik tam olarak bu bölümde yapılamamış, Part-2'de yapılan son düzenleme buraya eklenecektir.

In [30]:
df['km'].value_counts(dropna=False)

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
72,692 km       1
26,468 km       1
46,560 km       1
24,772 km       1
18,016 km       1
Name: km, Length: 6690, dtype: int64

In [31]:
df[['km']].sample(5)

               km
7796         - km
14409       10 km
9806    18,416 km
3104   102,124 km
12455      200 km

In [32]:
df['km'].replace('\ km','',regex=True, inplace=True)

In [33]:
df['km'].replace('\,','',regex=True, inplace=True)

In [34]:
df['km'].replace('\-',"" ,regex=True, inplace=True)   # sıfır değeri verilen satırlar modelde incelenip düzeltilecek.

In [35]:
df['km']=pd.to_numeric(df.km, downcast='integer')

In [36]:
df['km']

0        56013.0
1        80000.0
2        83450.0
3        73000.0
4        16200.0
          ...
15914        NaN
15915     9900.0
15916       15.0
15917       10.0
15918        NaN
Name: km, Length: 15919, dtype: float64

In [39]:
df['km'].value_counts()

10.0       1045
1.0         367
5.0         170
50.0        148
100.0       139
           ...
20719.0       1
91910.0       1
39860.0       1
28084.0       1
57889.0       1
Name: km, Length: 6689, dtype: int64

# 7 registration

    Veri dtype düzenlemesi yapılmış ve -/- şeklinde girilen veri yerine null değer yazılması tamamlanmış ancak "First registration" sutunu daha kullanışlı görüldüğünden bu sutunun kullanılmayacağı değerlendirilmiştir. İlerleyen aşamalarda drop etme düşüncesiyle yerinde bırakılmıştır.

In [40]:
df['registration'].sample(10)

5687     01/2019
12096    04/2018
12082    03/2018
4789     01/2018
10863    02/2016
7189     06/2018
14245    06/2017
1665     06/2018
6584     07/2018
10647    02/2016
Name: registration, dtype: object

In [41]:
df[df.registration=='-/-'][['km','registration','First Registration']].sample(10) # değeri '- olan araçlar sıfır araç'

         km registration First Registration
10358   5.0          -/-                NaN
5674    NaN          -/-                NaN
7881    NaN          -/-                NaN
12983   NaN          -/-                NaN
5216    NaN          -/-                NaN
5576    NaN          -/-                NaN
8105    NaN          -/-                NaN
12673   5.0          -/-                NaN
2119    NaN          -/-                NaN
14825  10.0          -/-                NaN

In [42]:
df['registration'].replace('\-/-','',regex=True, inplace=True)

In [43]:
df['registration'] = pd.to_datetime(df['registration'])

In [44]:
df['Registration']=df['registration']

In [45]:
df.drop('registration', axis=1, inplace=True)

In [46]:
df['Registration'].isnull().value_counts()

False    14322
True      1597
Name: Registration, dtype: int64

In [48]:
df['Registration'].sample(5)

2039    2019-05-01
5816    2016-04-01
12791   2019-05-01
2177    2019-01-01
2630    2016-03-01
Name: Registration, dtype: datetime64[ns]

# 8 prev_owner

    Aracın kaçıncı sahibi tarafından satıldığını gösteren bu sütundaki verilerde rakamsal değer veri içerisinden extract yapılmıştır. Sütun başlığı düzenlenmiştir.

In [49]:
df['prev_owner'].value_counts()

1 previous owner     8294
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [50]:
df['Prev_Owner']=df['prev_owner'].str.extract(pat='([0123456789])')

In [51]:
df['Prev_Owner'].isnull().value_counts(dropna=False)

False    9091
True     6828
Name: Prev_Owner, dtype: int64

In [52]:
df['Prev_Owner'].value_counts(dropna=False)

1      8294
NaN    6828
2       778
3        17
4         2
Name: Prev_Owner, dtype: int64

In [53]:
df.drop('prev_owner',axis=1, inplace=True)

# 9 kW

    İçerik tamamen boş olduğundan düşürüldü.

In [54]:
df['kW'].sample(10)

10090   NaN
114     NaN
8072    NaN
6053    NaN
14451   NaN
3855    NaN
6400    NaN
702     NaN
2959    NaN
4360    NaN
Name: kW, dtype: float64

In [55]:
df.drop('kW', axis=1, inplace=True)

# 10 hp

    Veri içerisindeki ilave ifadeler silinerek veriden numeric değerler extract edildi ve veri integer dtype'ına dönüştürüldü.

In [56]:
df[['hp']].sample(10)

           hp
14331   54 kW
1288    85 kW
12208  100 kW
1478    85 kW
13632   63 kW
1984    85 kW
4958    85 kW
2933    81 kW
1595    85 kW
7686   110 kW

In [57]:
df.hp.value_counts(dropna = False)

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
          ...
9 kW         1
44 kW        1
195 kW       1
75 kW        1
132 kW       1
Name: hp, Length: 81, dtype: int64

In [58]:
df.replace({"hp" : {" kW" : ""}}, regex = True, inplace = True) #

In [60]:
df.hp.value_counts()

85     2542
66     2122
81     1402
100    1308
110    1112
       ...
163       1
137       1
84        1
195       1
9         1
Name: hp, Length: 81, dtype: int64

In [62]:
df.hp.sample(5)

7581    77
5403    85
9328    66
9121    51
5213    85
Name: hp, dtype: object

# 11 Type

    Yakıt tipi ile kirlenmiş olan veriden kullanım durum bilgisi exract edildi ve veri tipi düzenlendi.

In [63]:
df[['Type']].sample(10)

                                           Type
1887                        [, New, , Gasoline]
4730    [, Used, , Diesel (Particulate Filter)]
3277                       [, Used, , Super 95]
1543                       [, Used, , Super 95]
14060                      [, Used, , Gasoline]
15688                      [, Used, , Gasoline]
8028   [, New, , Super 95 (Particulate Filter)]
15373   [, Used, , Diesel (Particulate Filter)]
15064   [, Used, , Diesel (Particulate Filter)]
13755   [, Used, , Diesel (Particulate Filter)]

In [64]:
df['Type'] = df.Type.str[1]

In [65]:
df['Type'].value_counts(dropna = False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: Type, dtype: int64

In [66]:
df['Type']

0                  Used
1                  Used
2                  Used
3                  Used
4                  Used
              ...
15914               New
15915              Used
15916    Pre-registered
15917    Pre-registered
15918     Demonstration
Name: Type, Length: 15919, dtype: object

In [67]:
df.Type.astype('str')

0                  Used
1                  Used
2                  Used
3                  Used
4                  Used
              ...
15914               New
15915              Used
15916    Pre-registered
15917    Pre-registered
15918     Demonstration
Name: Type, Length: 15919, dtype: object

# 12 Previous Owners

"Prev_owner" sütunu  ile birlikte değerlendirildi. "Prev_owner" sütunu yeterli olacağından bu sütun düşürüldü.

In [68]:
df[['Previous Owners']].sample(5)

      Previous Owners
481             \n1\n
10640             NaN
5555              NaN
14566             NaN
13971             NaN

In [69]:
df.drop('Previous Owners', axis=1, inplace=True)

# 13 Next Inspection

    Fiyata etkisi olmaması ve eksik verilerin doldurulmasının gerekli olmayacağı nedenleriyle bu sütun düşürüldü.

In [70]:
df.drop('Next Inspection', axis=1, inplace=True)

# 14 Inspection new

    Bu sütundaki veri tipi uygundur, sütun adı ilk harfler büyük olacak şekilde düzeltildi. Gereksiz bölümler atıldı.

In [71]:
df['Inspection new'].sample(10)

7522                                                   NaN
3827                                                   NaN
3078                                                   NaN
5866                                                   NaN
733                                                    NaN
15195                                                  NaN
691      [\nYes\n, \n, 4.2 l/100 km (comb), \n, 5 l/100...
4018                                                   NaN
4283                                                   NaN
12854                                                  NaN
Name: Inspection new, dtype: object

In [72]:
df['Inspection new'] = [item[0] if type(item) == list else item for item in df['Inspection new']]
df['Inspection new'] = df['Inspection new'].str.strip('\n')

In [77]:
df['Inspection new'].value_counts()

In [74]:
df['Inspection_New']=df['Inspection new']

In [75]:
df.drop('Inspection new',axis=1, inplace=True)

# 15 Warranty

    Veri liste dışına çıkarıldı, temizliği yapıldı, veri tipi int e çevirildi.

In [80]:
df.Warranty.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                5420
[\n, \n, \nEuro 6\n]                                                                               1868
\n12 months\n                                                                                      1177
\n                                                                                                  979
\n24 months\n                                                                                       566
                                                                                                   ...
[\n60 months\n, \n, 6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 5.2 l/100 km (country), \n]       1
[\n12 months\n, \n158 g CO2/km (comb)\n]                                                              1
[\n17 months\n, \n105 g CO2/km (comb)\n]                                                              1
[\n23 months\n, \nEuro 6\n]                                                                           1
[\n12 months\n, \n151 g CO2/km (comb)\n]                                                              1
Name: Warranty, Length: 516, dtype: int64

In [82]:
df['Warranty'] = df.Warranty.apply(lambda x :x[0] if type(x) == list else x)

In [83]:
df['Warranty'] = df.Warranty.str.strip('\n').str.extract('(\d{1,2})')[0].astype('float')

In [84]:
df.Warranty.value_counts(dropna = False)

NaN     11066
12.0     2594
24.0     1118
60.0      401
36.0      279
48.0      149
6.0       125
72.0       59
3.0        33
23.0       11
18.0       10
20.0        7
25.0        6
2.0         5
50.0        4
26.0        4
16.0        4
19.0        3
1.0         3
4.0         3
13.0        3
34.0        3
45.0        2
14.0        2
17.0        2
11.0        2
46.0        2
28.0        2
21.0        2
22.0        2
9.0         2
30.0        1
33.0        1
56.0        1
40.0        1
7.0         1
15.0        1
8.0         1
10.0        1
49.0        1
47.0        1
65.0        1
Name: Warranty, dtype: int64

# 16 Full Service

    Veri incelendiğinde fiyat değerlemesine faydalı olmayacağından düşürüldü.

In [85]:
df[['Full Service']].sample(10)

                  Full Service
2244                       NaN
14336     [\n, \n, \nEuro 6\n]
11627                      NaN
63                    [\n, \n]
4979                  [\n, \n]
9340   [\n, \n, \n4 (Green)\n]
14947                      NaN
12185                      NaN
8528    [\n, \n, \n5 (Blue)\n]
15808                      NaN

In [87]:
df.drop('Full Service', axis = 1, inplace = True)

# 17 Non-smoking Vehicle

    Sütun içerisinde sigara içilmesine dair hiçbir bilgi bulunmamaktadır. Bu nedenle drop edilmiştir. Sütundaki veriler emission sütunda da bulunmaktadır. Bu nedenle bu sütundaki verilerin kullanımına ihtiyaç kalmamıştır.

In [88]:
df[['Non-smoking Vehicle']].sample(10)

                     Non-smoking Vehicle
15138                                NaN
11749                                NaN
10784                                NaN
688                                  NaN
10293                                NaN
14120                           [\n, \n]
12538                                NaN
13171                           [\n, \n]
14561  [\n, \n, \n113 g CO2/km (comb)\n]
12985                                NaN

In [89]:
df.drop('Non-smoking Vehicle', axis = 1, inplace = True)

# 18 null

    "null" sütununda hiçbir veri olmaması nedeniyle sütun drop edilmiştir.

In [90]:
df[['null']].sample(5)

      null
13243   []
10844   []
3335    []
8018    []
13432   []

In [91]:
df.drop('null', axis = 1, inplace = True)

# 19 Make

    Veri temizlendi, sütun adı "Brand" olarak değiştirildi.

In [92]:
df[['Make']].sample(5)

           Make
1523   \nAudi\n
12099  \nOpel\n
6111   \nOpel\n
12516  \nOpel\n
3119   \nAudi\n

In [93]:
df.rename(columns={"Make":"Brand"}, inplace=True) # Column adını Brand olarak değiştirdik.

In [94]:
df['Brand'] = df['Brand'].replace('\n','',regex=True) # Brand name'lerini str içinden çekip çıkardık
df['Brand'].value_counts()                            # Hangi brand kaç adet value_count ile saydık

Opel       7343
Audi       5712
Renault    2864
Name: Brand, dtype: int64

In [95]:
df['Brand']

0           Audi
1           Audi
2           Audi
3           Audi
4           Audi
          ...
15914    Renault
15915    Renault
15916    Renault
15917    Renault
15918    Renault
Name: Brand, Length: 15919, dtype: object


# 20 Model

Model içeriğini temizleyerek model isimlerini sütundan çekip aldık.

In [96]:
df[['Model']].sample(5)

                 Model
13709   [\n, Clio, \n]
846       [\n, A1, \n]
3824      [\n, A3, \n]
240       [\n, A1, \n]
7591   [\n, Astra, \n]

In [97]:
liste = [i[1] for i in df['Model']] # Model içeriğini temizleyerek model isimleini sütundan çekip aldık.
df_liste= pd.DataFrame(liste)
df['Model'] = df_liste

In [98]:
df['Model'].sample(5)

11579    Insignia
1944           A1
3387           A3
7548        Astra
15541      Espace
Name: Model, dtype: object

# 21 Offer Number

 Offer Number sütunu ilan numarası gibi bir sütun olduğu ve işimize yaramayacağı nedeniyle drop edildi.

In [99]:
df[['Offer Number']].sample(5) #

         Offer Number
15853             NaN
7235              NaN
11646   [\n7337871\n]
11868  [\n52011843\n]
3859   [\n11208089\n]

In [100]:
df.drop('Offer Number', axis = 1, inplace = True)

# 22 First Registration

    Sutun adı değişti, veri temzilendi. Registration yıl bilgisi alındı.

In [101]:
df[['First Registration']].sample(10)

      First Registration
10543     [\n, 2016, \n]
12186     [\n, 2018, \n]
14609     [\n, 2018, \n]
5775      [\n, 2018, \n]
3932      [\n, 2017, \n]
414       [\n, 2016, \n]
8979      [\n, 2016, \n]
14201     [\n, 2017, \n]
1249      [\n, 2017, \n]
4089      [\n, 2018, \n]

In [102]:
df.rename(columns={"First Registration":"First_Registration"}, inplace=True)
# Sütun adı First_Registration olarak değiştirildi.

In [103]:
date = []                           # Sütundan ilk kayıt bilgileri yıl olarak çekilip alındı.
for i in df['First_Registration']:
    if type(i) == list:
        date.append(i[1])
    else:
        date.append(i)

In [104]:
df_date= pd.DataFrame(date)
df['First_Registration'] = df_date

In [105]:
df['First_Registration'].value_counts()

2018    4522
2016    3674
2017    3273
2019    2853
Name: First_Registration, dtype: int64

# 23 Body Color

     Sütun adını Body_Color olarak değiştirdik. Body color'ı veri içerisinden çekip aldık.

In [106]:
df[['Body Color']].sample(10)

             Body Color
7385    [\n, Black, \n]
8363    [\n, White, \n]
12860   [\n, White, \n]
10387    [\n, Blue, \n]
15549  [\n, Silver, \n]
4411     [\n, Blue, \n]
9222     [\n, Grey, \n]
3734     [\n, Grey, \n]
378     [\n, Black, \n]
6876   [\n, Silver, \n]

In [107]:
df['Body_Color'] = df['Body Color'] # sütun adını Body_Color değiştirdik.

In [108]:
color = []
for i in df['Body_Color']:
    if type(i) == list:
        color.append(i[1])
    else:
        color.append(i)

In [109]:
df_color= pd.DataFrame(color)
df['Body_Color'] = df_color

In [110]:
df['Body_Color'].isnull().value_counts()

False    15322
True       597
Name: Body_Color, dtype: int64

In [111]:
df.drop('Body Color', axis = 1, inplace = True) # sütun adını Body_Color değiştirdik ve eski sütunu sildik.

# 24 Paint Type

    Sütun adını Paint_Type olarak değiştirdik. Paint Type olan eski sütunu sildik. Veri içerisinden paint type verisini çekip aldık.

In [112]:
df[['Paint Type']].sample(10)

            Paint Type
9667    [\nMetallic\n]
3500   [\nUni/basic\n]
13157   [\nMetallic\n]
14968   [\nMetallic\n]
7815    [\nMetallic\n]
2349   [\nUni/basic\n]
14088              NaN
9933    [\nMetallic\n]
4785    [\nMetallic\n]
15384              NaN

In [113]:
df['Paint_Type'] = df['Paint Type']

In [114]:
paint = [i[0] if type(i) == list else i for i in df['Paint_Type']]
df_paint= pd.DataFrame(paint)
df['Paint_Type'] = df_paint
df['Paint_Type'] = df['Paint_Type'].replace('\n','',regex=True)

In [115]:
df.drop('Paint Type', axis = 1, inplace = True)

In [116]:
df['Paint_Type'].value_counts()

Metallic       9794
Uni/basic       347
Perl effect       6
Name: Paint_Type, dtype: int64

# 25 Body Color Original

     Dil uygun olmadığından ve benzer verinin başka sütunda olması nedeniyle drop edildi.

In [117]:
df[['Body Color Original']].sample(10)

                        Body Color Original
5575                         [\nIbisweiß\n]
11139                                   NaN
6802                      [\nRouge Braun\n]
10487                                   NaN
2468   [\npythongelb metallic mythosschw\n]
356                                     NaN
8730                                    NaN
10013                      [\nlicht grau\n]
1438                       [\nutopiablau\n]
8105      [\nwählbar - ggf. mit Aufpreis\n]

In [118]:
df.drop('Body Color Original', axis = 1, inplace = True)

# 26 Upholstery

    Veri temizlendi. İki sütuna bölündü.

In [119]:
df[['Upholstery']].sample(10)

                      Upholstery
9637                         NaN
5440                 [\nCloth\n]
9557          [\nCloth, Black\n]
11758                        NaN
2237          [\nCloth, Black\n]
1711                         NaN
10623         [\nCloth, Black\n]
6198                         NaN
6344   [\nPart leather, Black\n]
9561           [\nCloth, Grey\n]

In [120]:
df['Upholstery'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nCloth, Black\n]           5821
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nFull leather, Brown\n]     116
[\nPart leather, Grey\n]      116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nVelour, Black\n]            36
[\nFull leather, Beige\n]      36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nCloth, White\n]              8
[\nVelour, Grey\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nPart leather, Red\n]         3
[\nBeige\n]                     3
[\nBlue\n]                      2
[\nFull leather, Blue\n]        2
[\nalcantara\n]                 2
[\nalcantara, Other\n]          2
[\nPart leather, Beige\n]       2
[\nWhite\n]                     2
[\nPart leather, White\n]       2
[\nFull leather, Red\n]         1
[\nOther, Brown\n]              1
[\nCloth, Orange\n]             1
[\nFull leather, White\n]       1
Name: Upholstery, dtype: int64

In [121]:
mat = [i[0] if type(i) == list else i for i in df['Upholstery']]
df_matr= pd.DataFrame(mat)
df['Upholstery'] = df_matr
df['Upholstery'] = df['Upholstery'].replace('\n','',regex=True)

In [122]:
mater = []
for i in df['Upholstery']:
    i = str(i)
    i = i.split(", ")
    if len(i) == 2:
        mater.append(i[0])
    else:
        i = "nan"
        mater.append(i)

In [123]:
df["Uphol_Material"] = pd.DataFrame(mater)
df["Uphol_Material"].value_counts()

Cloth           7418
nan             5861
Part leather    1359
Full leather     870
Other            312
alcantara         55
Velour            44
Name: Uphol_Material, dtype: int64

In [124]:
colors = []
for i in df['Upholstery']:
    i = str(i)
    i = i.split(", ")
    if len(i) == 2:
        colors.append(i[1])
    else:
        len(i) == 1
        colors.append(i[0])

In [125]:
df["Uphol_Colors"] = pd.DataFrame(colors)
df["Uphol_Colors"].value_counts()

Black           8201
nan             3720
Grey            1376
Other           1016
Cloth           1005
Brown            207
Part leather     140
Full leather     139
Beige             54
Velour            16
Blue              16
White             13
Red                9
Yellow             4
alcantara          2
Orange             1
Name: Uphol_Colors, dtype: int64

In [126]:
df.drop("Upholstery", axis=1, inplace=True)

In [127]:
df[["Uphol_Material","Uphol_Colors"]]

      Uphol_Material  Uphol_Colors
0              Cloth         Black
1              Cloth          Grey
2              Cloth         Black
3                nan           nan
4              Cloth         Black
...              ...           ...
15914            nan           nan
15915            nan         Cloth
15916   Full leather         Black
15917            nan  Part leather
15918   Full leather         Brown

[15919 rows x 2 columns]

# 27 Body

In [128]:
df[['Body']].sample(10) # Body_Type sütunuyla aynı olduğu için Body sütunu drop edildi.

                          Body
2166          [\n, Sedans, \n]
7684   [\n, Station wagon, \n]
7501           [\n, Other, \n]
4054          [\n, Sedans, \n]
9521          [\n, Sedans, \n]
11084  [\n, Station wagon, \n]
10360         [\n, Sedans, \n]
2954          [\n, Sedans, \n]
6762   [\n, Station wagon, \n]
11207  [\n, Station wagon, \n]

In [129]:
df.drop('Body', axis=1, inplace=True)

# 28 Nr. of Doors

    Sütundan kapı sayıları verisi alındı.

In [130]:
df[['Nr. of Doors']].sample(5)

      Nr. of Doors
8466       [\n5\n]
3661       [\n2\n]
14291      [\n5\n]
13349      [\n5\n]
4755       [\n5\n]

In [131]:
df['Nr. of Doors'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
[\n7\n]        1
[\n1\n]        1
Name: Nr. of Doors, dtype: int64

In [132]:
Number_Doors = []
for i in df['Nr. of Doors']:
    if type(i) == list:
        Number_Doors.append(i[0])
    else:
        Number_Doors.append(i)

In [133]:
Number_Doors

['\n5\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n5\n',
 '\n4\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n4\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n2\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n3\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n3\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n5\n',
 '\n2\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n2\n',
 '\n3\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n2\n',
 '\n2\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n3\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n2\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n3\n',
 '\n5\n',
 '\n4\n',
 '\n4\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n2\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n4\n',
 nan,
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n4\n',
 '\n4\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n3\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n4\n',
 '\n2\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n2\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n4\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n2\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n2\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n5\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n2\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n2\n',
 '\n3\n',
 '\n5\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n2\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n2\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n5\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n2\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n2\n',
 '\n5\n',
 '\n2\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n4\n',
 '\n2\n',
 '\n3\n',
 '\n2\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n2\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n5\n',
 '\n2\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n4\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n4\n',
 '\n2\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n4\n',
 '\n4\n',
 '\n2\n',
 '\n5\n',
 '\n2\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n4\n',
 '\n3\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 nan,
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n4\n',
 '\n2\n',
 '\n2\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 nan,
 '\n4\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n2\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n2\n',
 '\n4\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n2\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n3\n',
 '\n2\n',
 '\n5\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n5\n',
 '\n4\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n2\n',
 '\n2\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n3\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n2\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n2\n',
 '\n5\n',
 '\n3\n',
 '\n2\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n2\n',
 '\n4\n',
 '\n2\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n2\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n2\n',
 '\n4\n',
 '\n5\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n5\n',
 '\n2\n',
 '\n5\n',
 '\n3\n',
 '\n2\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n5\n',
 '\n4\n',
 '\n2\n',
 '\n4\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n3\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n3\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n2\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n3\n',
 '\n2\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n3\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n5\n',
 nan,
 '\n5\n',
 '\n3\n',
 nan,
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n2\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n5\n',
 '\n3\n',
 '\n3\n',
 '\n5\n',
 '\n3\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n3\n',
 '\n4\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n4\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n2\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 nan,
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n3\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 nan,
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 nan,
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n5\n',
 '\n4\n',
 '\n5\n',
 '\n5\n',
 ...]

In [134]:
df_Number_Doors= pd.DataFrame(Number_Doors)
df['Nr. of Doors'] = df_Number_Doors

In [135]:
df['Nr. of Doors']=df['Nr. of Doors'].str.extract(pat = '([0123456789])')

In [136]:
df['Nr. of Doors']

0        5
1        3
2        4
3        3
4        5
        ..
15914    5
15915    5
15916    5
15917    5
15918    5
Name: Nr. of Doors, Length: 15919, dtype: object

In [137]:
df['Nr. of Doors'].value_counts()

5    11575
4     3079
3      832
2      219
7        1
1        1
Name: Nr. of Doors, dtype: int64

In [138]:
df['Nr. of Doors']=pd.to_numeric(df['Nr. of Doors'])

In [139]:
df['Nr. of Doors']

0        5.0
1        3.0
2        4.0
3        3.0
4        5.0
        ...
15914    5.0
15915    5.0
15916    5.0
15917    5.0
15918    5.0
Name: Nr. of Doors, Length: 15919, dtype: float64

# 29 Nr. of Seats

    Sütundan koltuk sayısı çekilip alındı ve sütun adı değiştirildi.

In [140]:
df[['Nr. of Seats']].sample(10)

      Nr. of Seats
11497      [\n5\n]
4547       [\n5\n]
15671      [\n5\n]
8798       [\n5\n]
14670      [\n5\n]
7514       [\n5\n]
13346      [\n5\n]
12157      [\n5\n]
12128      [\n5\n]
1592       [\n4\n]

In [141]:
df['Nr. of Seats'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    13336
[\n4\n]     1125
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: Nr. of Seats, dtype: int64

In [142]:
Seat_Number = []
for i in df['Nr. of Seats']:
    if type(i) == list:
        Seat_Number.append(i[0])
    else:
        Seat_Number.append(i)

In [143]:
df_Seat_Number= pd.DataFrame(Seat_Number)
df['Nr. of Seats'] = df_Seat_Number

In [144]:
df['Nr. of Seats']

0        \n5\n
1        \n4\n
2        \n4\n
3        \n4\n
4        \n5\n
         ...
15914    \n5\n
15915    \n5\n
15916    \n7\n
15917    \n7\n
15918    \n5\n
Name: Nr. of Seats, Length: 15919, dtype: object

In [145]:
df['Nr. of Seats']=df['Nr. of Seats'].str.extract(pat = '([0123456789])')

In [146]:
df.rename(columns={'Nr. of Seats':"Number_of_Seats"}, inplace=True)

# 30 Model Code

In [147]:
df[['Model Code']].sample(5) # Model kodu Price için gerekli bir veri olmadığı için drop edildi

           Model Code
11675             NaN
7922              NaN
9437              NaN
945    [\n0588/BCY\n]
5759              NaN

In [148]:
df.drop('Model Code', axis=1, inplace=True)

# 31 Gearing Type

    Sütundaki veri temizlenerek vites tipleri verisi alındı.

In [149]:
df[['Gearing Type']].sample(10)

                   Gearing Type
7638        [\n, Automatic, \n]
1181           [\n, Manual, \n]
6464   [\n, Semi-automatic, \n]
9171           [\n, Manual, \n]
14985       [\n, Automatic, \n]
1909        [\n, Automatic, \n]
10310          [\n, Manual, \n]
13647          [\n, Manual, \n]
5347           [\n, Manual, \n]
9966        [\n, Automatic, \n]

In [150]:
df['Gearing Type'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: Gearing Type, dtype: int64

In [151]:
df.rename(columns={"Gearing Type":"Gearing_Type"}, inplace=True)

In [152]:
Gearing = [i[1] if type(i) == list else i for i in df['Gearing_Type']]

In [153]:
df_Gearing= pd.DataFrame(Gearing)
df['Gearing_Type'] = df_Gearing
df['Gearing_Type'] = df['Gearing_Type'].replace('\n','',regex=True)

In [154]:
df['Gearing_Type'].value_counts()

Manual            8153
Automatic         7297
Semi-automatic     469
Name: Gearing_Type, dtype: int64

# 32  Displacement

     Veri temizlendi. Motor hacmi verisi numeric olarak veri içerisinden çekilip alındı.

In [155]:
df[['Displacement']].sample(10)

         Displacement
2957   [\n1,598 cc\n]
11861  [\n1,956 cc\n]
13288  [\n1,197 cc\n]
1383     [\n999 cc\n]
6668     [\n999 cc\n]
4382     [\n999 cc\n]
6033   [\n1,598 cc\n]
11851  [\n1,598 cc\n]
12525  [\n1,490 cc\n]
14667    [\n898 cc\n]

In [156]:
Displacement = []
for i in df['Displacement']:
    if type(i) == list:
        Displacement.append(i[0])
    else:
        Displacement.append(i)

In [157]:
Displacement

['\n1,422 cc\n',
 '\n1,798 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n929 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n1,598 cc\n',
 nan,
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,798 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 nan,
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,596 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,395 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 nan,
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 nan,
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 nan,
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,600 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n1,000 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 nan,
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,984 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 nan,
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 nan,
 '\n1,598 cc\n',
 '\n1,798 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n1,395 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 nan,
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 nan,
 '\n1,598 cc\n',
 '\n999 cc\n',
 nan,
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 nan,
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n1,422 cc\n',
 nan,
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,798 cc\n',
 '\n1,498 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 nan,
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,498 cc\n',
 '\n999 cc\n',
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n999 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 nan,
 '\n1,422 cc\n',
 '\n1,395 cc\n',
 '\n1,422 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 nan,
 '\n999 cc\n',
 nan,
 '\n999 cc\n',
 '\n1,395 cc\n',
 nan,
 '\n1,598 cc\n',
 '\n999 cc\n',
 '\n999 cc\n',
 '\n1,798 cc\n',
 '\n1,422 cc\n',
 '\n1,598 cc\n',
 '\n1,422 cc\n',
 ...]

In [158]:
df_Displacement= pd.DataFrame(Displacement)
df['Displacement'] = df_Displacement

In [159]:
df['Displacement']

0        \n1,422 cc\n
1        \n1,798 cc\n
2        \n1,598 cc\n
3        \n1,422 cc\n
4        \n1,422 cc\n
             ...
15914    \n1,997 cc\n
15915    \n1,798 cc\n
15916    \n1,997 cc\n
15917    \n1,997 cc\n
15918    \n1,798 cc\n
Name: Displacement, Length: 15919, dtype: object

In [160]:
df.replace({"Displacement" : {" cc" : "", "," : "","\n":""}}, regex = True, inplace = True)

In [161]:
df['Displacement']

0        1422
1        1798
2        1598
3        1422
4        1422
         ...
15914    1997
15915    1798
15916    1997
15917    1997
15918    1798
Name: Displacement, Length: 15919, dtype: object

In [162]:
df['Displacement'] = pd.to_numeric(df['Displacement'])

In [163]:
df['Displacement']

0        1422.0
1        1798.0
2        1598.0
3        1422.0
4        1422.0
          ...
15914    1997.0
15915    1798.0
15916    1997.0
15917    1997.0
15918    1798.0
Name: Displacement, Length: 15919, dtype: float64

In [164]:
df.rename(columns={'Displacement':"Engine_Disp_cc"}, inplace=True)

# 33 Cylinders

     Veri temizlendi. Motor hacmi verisi numeric olarak veri içerisinden çekilip alındı.

In [165]:
df[['Cylinders']].sample(5)

      Cylinders
11790       NaN
12733   [\n4\n]
3084    [\n4\n]
1785    [\n3\n]
9338        NaN

In [166]:
df['Cylinders'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4\n]    8105
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n2\n]       2
[\n8\n]       2
[\n1\n]       1
Name: Cylinders, dtype: int64

In [167]:
Cylinders = []
for i in df['Cylinders']:
    if type(i) == list:
        Cylinders.append(i[0])
    else:
        Cylinders.append(i)

In [168]:
Cylinders

['\n3\n',
 '\n4\n',
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 '\n4\n',
 nan,
 '\n4\n',
 nan,
 '\n4\n',
 '\n4\n',
 '\n4\n',
 nan,
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 '\n4\n',
 nan,
 nan,
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 nan,
 nan,
 nan,
 nan,
 '\n3\n',
 '\n4\n',
 '\n3\n',
 nan,
 nan,
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 nan,
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 nan,
 '\n3\n',
 nan,
 nan,
 nan,
 '\n4\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 nan,
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 nan,
 '\n3\n',
 '\n4\n',
 '\n4\n',
 nan,
 nan,
 '\n4\n',
 nan,
 nan,
 nan,
 '\n3\n',
 '\n3\n',
 '\n4\n',
 nan,
 nan,
 '\n4\n',
 '\n3\n',
 '\n4\n',
 nan,
 '\n3\n',
 nan,
 nan,
 nan,
 nan,
 '\n3\n',
 '\n3\n',
 '\n4\n',
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n4\n',
 '\n3\n',
 '\n4\n',
 nan,
 '\n4\n',
 nan,
 nan,
 '\n4\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n4\n',
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 '\n4\n',
 nan,
 nan,
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n4\n',
 '\n4\n',
 nan,
 '\n3\n',
 nan,
 '\n4\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n4\n',
 '\n4\n',
 nan,
 '\n3\n',
 nan,
 '\n4\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 nan,
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 nan,
 nan,
 '\n3\n',
 nan,
 nan,
 '\n3\n',
 '\n4\n',
 '\n3\n',
 nan,
 '\n4\n',
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 '\n4\n',
 nan,
 '\n4\n',
 nan,
 '\n4\n',
 nan,
 '\n4\n',
 '\n4\n',
 nan,
 nan,
 nan,
 nan,
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 nan,
 '\n4\n',
 nan,
 nan,
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 '\n3\n',
 nan,
 '\n4\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 nan,
 nan,
 '\n4\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n4\n',
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n4\n',
 nan,
 '\n4\n',
 nan,
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 '\n3\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n4\n',
 nan,
 nan,
 nan,
 nan,
 '\n4\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 nan,
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 nan,
 nan,
 '\n4\n',
 nan,
 nan,
 '\n3\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n3\n',
 '\n3\n',
 '\n4\n',
 nan,
 nan,
 nan,
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 nan,
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 nan,
 '\n4\n',
 nan,
 '\n3\n',
 nan,
 nan,
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 '\n4\n',
 '\n4\n',
 '\n3\n',
 nan,
 nan,
 nan,
 nan,
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 nan,
 nan,
 '\n3\n',
 nan,
 nan,
 '\n4\n',
 nan,
 nan,
 nan,
 '\n3\n',
 '\n4\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 nan,
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 '\n4\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 nan,
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 '\n3\n',
 nan,
 nan,
 '\n3\n',
 nan,
 '\n8\n',
 nan,
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 nan,
 nan,
 nan,
 '\n4\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 '\n4\n',
 '\n4\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 nan,
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 '\n3\n',
 nan,
 nan,
 nan,
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 '\n3\n',
 nan,
 '\n4\n',
 '\n4\n',
 nan,
 nan,
 '\n4\n',
 '\n3\n',
 nan,
 nan,
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 '\n4\n',
 '\n4\n',
 '\n3\n',
 nan,
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 '\n4\n',
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 nan,
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 '\n4\n',
 '\n4\n',
 '\n3\n',
 nan,
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n4\n',
 nan,
 '\n3\n',
 '\n4\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n4\n',
 nan,
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 nan,
 nan,
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 nan,
 '\n4\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 nan,
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n3\n',
 nan,
 nan,
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n4\n',
 nan,
 nan,
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n3\n',
 nan,
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 nan,
 nan,
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 nan,
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 nan,
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n4\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n4\n',
 '\n3\n',
 '\n4\n',
 nan,
 nan,
 '\n4\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n4\n',
 '\n4\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n4\n',
 nan,
 '\n3\n',
 nan,
 nan,
 '\n3\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n4\n',
 nan,
 '\n4\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n3\n',
 '\n3\n',
 nan,
 nan,
 '\n4\n',
 '\n3\n',
 '\n3\n',
 nan,
 '\n4\n',
 nan,
 '\n4\n',
 nan,
 '\n4\n',
 nan,
 '\n4\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n3\n',
 nan,
 nan,
 '\n4\n',
 nan,
 '\n4\n',
 '\n3\n',
 '\n3\n',
 '\n4\n',
 '\n3\n',
 nan,
 '\n4\n',
 ...]

In [169]:
df_Cylinders= pd.DataFrame(Cylinders)
df['Cylinders'] = df_Cylinders

In [170]:
df['Cylinders']

0        \n3\n
1        \n4\n
2          NaN
3        \n3\n
4        \n3\n
         ...
15914    \n4\n
15915    \n4\n
15916    \n4\n
15917    \n4\n
15918    \n4\n
Name: Cylinders, Length: 15919, dtype: object

In [171]:
df['Cylinders'].replace('\n','',regex=True, inplace=True)

In [172]:
df['Cylinders'].value_counts()

4    8105
3    2104
5      22
6       3
8       2
2       2
1       1
Name: Cylinders, dtype: int64

In [173]:
df['Cylinders']=pd.to_numeric(df['Cylinders'])

In [174]:
df['Cylinders']

0        3.0
1        4.0
2        NaN
3        3.0
4        3.0
        ...
15914    4.0
15915    4.0
15916    4.0
15917    4.0
15918    4.0
Name: Cylinders, Length: 15919, dtype: float64

# 34  Weight

In [175]:
df[['Weight']].sample(10) # Ağırlık kullanılmayacağı için drop edildi.

               Weight
14254             NaN
5443   [\n1,256 kg\n]
10076  [\n1,163 kg\n]
10948             NaN
5658   [\n1,790 kg\n]
674    [\n1,097 kg\n]
11243             NaN
10628             NaN
12478             NaN
7629   [\n1,325 kg\n]

In [176]:
df.drop('Weight', axis=1, inplace=True)

# 35 Drive chain

     Veri temizlendi. Çekiş tipi verisi veri içerisinden çekilip alındı

In [177]:
df[['Drive chain']].sample(10)

       Drive chain
8852           NaN
8515   [\nfront\n]
6842           NaN
13876          NaN
5493   [\nfront\n]
665            NaN
14130  [\nfront\n]
15074          NaN
13601          NaN
13727  [\nfront\n]

In [178]:
df['Drive chain'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nfront\n]    8886
[\n4WD\n]       171
[\nrear\n]        4
Name: Drive chain, dtype: int64

In [179]:
Drive_chain = []
for i in df['Drive chain']:
    if type(i) == list:
        Drive_chain.append(i[0])
    else:
        Drive_chain.append(i)

In [180]:
Drive_chain

['\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\n4WD\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 '\n4WD\n',
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 nan,
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 nan,
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 '\nfront\n',
 '\nfront\n',
 nan,
 '\nfront\n',
 nan,
 '\nfront\n',
 ...]

In [181]:
df_Drive_chain= pd.DataFrame(Drive_chain)
df['Drive chain'] = df_Drive_chain

In [182]:
df['Drive chain']

0        \nfront\n
1        \nfront\n
2        \nfront\n
3              NaN
4        \nfront\n
           ...
15914    \nfront\n
15915    \nfront\n
15916    \nfront\n
15917    \nfront\n
15918      \n4WD\n
Name: Drive chain, Length: 15919, dtype: object

In [183]:
df['Drive chain'].replace('\n','',regex=True, inplace=True)

In [184]:
df['Drive chain']

0        front
1        front
2        front
3          NaN
4        front
         ...
15914    front
15915    front
15916    front
15917    front
15918      4WD
Name: Drive chain, Length: 15919, dtype: object

In [185]:
df['Drive chain'].value_counts()

front    8886
4WD       171
rear        4
Name: Drive chain, dtype: int64

# 36 Fuel

     Fuel sütunu temizlendi ve yakıt tipi bilgisi; Benzine, Diesel, Others, CNG/LPG, Electric olarak kategorize edildi.

In [186]:
df[['Fuel']].sample(10)

                                        Fuel
202                       [\n, Super 95, \n]
7079                      [\n, Super 95, \n]
4855   [\n, Diesel (Particulate Filter), \n]
4785                      [\n, Gasoline, \n]
13318  [\n, Diesel (Particulate Filter), \n]
8302                      [\n, Super 95, \n]
8053                        [\n, Diesel, \n]
15876                     [\n, Gasoline, \n]
13645  [\n, Diesel (Particulate Filter), \n]
4606                        [\n, Diesel, \n]

In [187]:
df['Fuel'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Diesel (Particulate Filter), \n]                                                                                  4315
[\n, Super 95, \n]                                                                                                     3338
[\n, Gasoline, \n]                                                                                                     3175
[\n, Diesel, \n]                                                                                                       2984
[\n, Super 95 / Regular/Benzine 91, \n]                                                                                 424
                                                                                                                       ...
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95, \n]       1
[\n, Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98, \n]       1
[\n, Regular/Benzine 91 / Super 95 / Super E10 95 / Regular/Benzine E10 91, \n]                                           1
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98, \n]                                                                   1
[\n, Super 95 / Super E10 95 / Super Plus 98, \n]                                                                         1
Name: Fuel, Length: 77, dtype: int64

In [188]:
df.Fuel=df.Fuel.str[1].str.split('/').str[0]

In [189]:
from collections import Counter

fuel_type=[]
for i in df.Fuel:
    fuel_type.append(i) 

Counter(fuel_type)

Counter({'Diesel (Particulate Filter)': 4315,
         'Gasoline': 3175,
         'Super 95': 3338,
         'Regular': 503,
         'Diesel': 2984,
         'Super E10 95': 331,
         'Super 95 (Particulate Filter)': 268,
         'Super 95 ': 762,
         'Super E10 95 ': 71,
         'Others': 5,
         'Gasoline (Particulate Filter)': 77,
         'Super E10 95 (Particulate Filter)': 7,
         'Super Plus 98': 7,
         'CNG': 33,
         'Electric': 5,
         'CNG (Particulate Filter)': 3,
         'Others (Particulate Filter)': 1,
         'Biogas': 1,
         'Domestic gas H': 1,
         'Super Plus E10 98 ': 1,
         'Super Plus 98 ': 4,
         'Super Plus E10 98': 1,
         'LPG': 16,
         'Liquid petroleum gas (LPG)': 10})

In [190]:
Diesel=['Diesel','Diesel (Particulate Filter)','Biodiesel']
Benzine=['Gasoline','Super 95','Regular','Benzine E10 91 ','Super Plus 98','Regular/Benzine 91','Super E10 95','Super Plus E10 98','Super 95 (Particulate Filter)','Gasoline (Particulate Filter)','Super Plus E10 98 (Particulate Filter)','Regular/Benzine 91 (Particulate Filter)','Super E10 95 (Particulate Filter)','Regular/Benzine E10 91 (Particulate Filter)','Super Plus 98 (Particulate Filter)']
CNG_LPG=['CNG','CNG (Particulate Filter)','LPG','Liquid petroleum gas (LPG)','Domestic gas H','Biogas']
Electric=['Electric','Electric/Gasoline']


def fuel_type (a):
            
    if a in Diesel :
            return 'Diesel'
    elif a in Benzine :
            return 'Benzine'
    elif a in CNG_LPG :
        return 'CNG/LPG'
    elif a in Electric:
        return 'Electric'
    else:
        return 'Others'

In [191]:
df.Fuel=df.Fuel.apply(fuel_type)

In [192]:
df.Fuel.value_counts()

Benzine     7707
Diesel      7299
Others       844
CNG/LPG       64
Electric       5
Name: Fuel, dtype: int64

# 37 Consumption

    Consumption sütunu temizlendi ve consumtion kategorize edilerek 'City_Cons', 'Country_Cons', 'Comb_Cons' adlı 3 farklı sütuna kaydedildi.

In [193]:
df[['Consumption']]

                                             Consumption
0      [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
1      [[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...
2      [[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...
3      [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
4      [[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...
...                                                  ...
15914  [[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...
15915  [\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (ci...
15916  [[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...
15917  [[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...
15918  [[6.8 l/100 km (comb)], [8.7 l/100 km (city)],...

[15919 rows x 1 columns]

In [194]:
df['Consumption'][225]

['\n',
 '5.2 l/100 km (comb)',
 '\n',
 '6.7 l/100 km (city)',
 '\n',
 '4.4 l/100 km (country)',
 '\n']

In [195]:
df['Country_Cons']=df["Consumption"].str[-2].str[0].str.extract("(\d.\d|\d)")

In [196]:
df['City_Cons']=df["Consumption"].str[-1].str[0].str.extract("(\d.\d|\d)")

In [197]:
df['Comb_Cons']=df["Consumption"].str[-0].str[0].str.extract("(\d.\d|\d)")

In [198]:
df['City_Cons']=pd.to_numeric(df['City_Cons'])

In [199]:
df['Country_Cons']=pd.to_numeric(df['Country_Cons'])

In [200]:
df['Comb_Cons']=pd.to_numeric(df['Comb_Cons'])

In [201]:
df.drop('Consumption',axis=1, inplace=True)

# 38 CO2 Emission

    CO2 Emission sütunu temizlendi. Sütun adı değiştirildi.

In [202]:
df[['CO2 Emission']].sample(5)

                   CO2 Emission
4940  [\n111 g CO2/km (comb)\n]
3266  [\n107 g CO2/km (comb)\n]
2631  [\n109 g CO2/km (comb)\n]
6759   [\n95 g CO2/km (comb)\n]
5871  [\n119 g CO2/km (comb)\n]

In [203]:
df['CO2 Emission']=[i[0] if type(i)==list else i for i in df['CO2 Emission']]

In [204]:
df['CO2 Emission']=df['CO2 Emission'].str.strip('\n').str.rstrip(' g CO2/km (comb)').str.replace(',','.').astype('float')

In [205]:
df.rename(columns={"CO2 Emission":"CO2_Emission"}, inplace=True)

In [206]:
df['CO2_Emission'].value_counts(dropna=False)

NaN      2436
120.0     740
99.0      545
97.0      537
104.0     501
         ...
160.0       1
193.0       1
165.0       1
239.0       1
45.0        1
Name: CO2_Emission, Length: 121, dtype: int64

# 39  Emission Class

    Emission Class sütunu temizlendi. Sütun adı değiştirildi.

In [207]:
df['Emission Class'].sample(10)

220                     NaN
2              [\nEuro 6\n]
13033          [\nEuro 6\n]
14652          [\nEuro 6\n]
11400                   NaN
1603           [\nEuro 6\n]
3198           [\nEuro 6\n]
1469           [\nEuro 6\n]
3304           [\nEuro 6\n]
9920     [\nEuro 6d-TEMP\n]
Name: Emission Class, dtype: object

In [208]:
df[['Emission Class','Warranty']].sample(5)

      Emission Class  Warranty
9392    [\nEuro 6\n]      12.0
10852   [[], [], []]       NaN
13302            NaN       NaN
11457   [\nEuro 6\n]       NaN
961              NaN       NaN

In [209]:
def data_clean_to_num(x):
    liste = []
    for i in df[x]:
        if type(i) == list:
            liste.append(i[0])
        else:
            liste.append(i)
    df_liste= pd.DataFrame(liste)
    df[x] = df_liste
    df[x].replace('\n','',regex=True, inplace=True)
    df[x]=pd.to_numeric(df[x])

In [210]:
def many_item(x):
    df[x]=[",".join(item) if type(item)==list else item for item in df[x]]

In [211]:
def data_clean(x):
    liste = []
    for i in df[x]:
        if type(i) == list:
            liste.append(i[0])
        else:
            liste.append(i)
    df_liste= pd.DataFrame(liste)
    df[x] = df_liste
    df[x].replace('\n','',regex=True, inplace=True)

In [212]:
data_clean('Emission Class')

In [213]:
df['Emission Class']

0              Euro 6
1              Euro 6
2              Euro 6
3              Euro 6
4              Euro 6
             ...
15914             NaN
15915             NaN
15916    Euro 6d-TEMP
15917          Euro 6
15918          Euro 6
Name: Emission Class, Length: 15919, dtype: object

# 40 Comfort & Convenience

    Veriler temizlenerek liste dışına çıkarıldı. Header düzenlendi.

In [214]:
df['\nComfort & Convenience\n'].sample(10)

6382     [Air conditioning, Automatic climate control, ...
7608     [Air conditioning, Armrest, Automatic climate ...
10100    [Air conditioning, Cruise control, Electricall...
6311     [Air conditioning, Automatic climate control, ...
6774     [Air conditioning, Armrest, Automatic climate ...
4956     [Air conditioning, Automatic climate control, ...
13601    [Air conditioning, Electrical side mirrors, Le...
7408     [Air conditioning, Armrest, Cruise control, El...
12466    [Air conditioning, Armrest, Automatic climate ...
13300    [Air conditioning, Cruise control, Electrical ...
Name: \nComfort & Convenience\n, dtype: object

In [215]:
df['\nComfort & Convenience\n'][14955]

['Air conditioning',
 'Automatic climate control',
 'Cruise control',
 'Navigation system',
 'Park Distance Control',
 'Parking assist system camera']

In [216]:
df.rename(columns={'\nComfort & Convenience\n':'Comfort_Convenience'}, inplace=True)

In [217]:
df['Comfort_Convenience']=[",".join(item) if type(item)==list else item for item in df['Comfort_Convenience']]

In [218]:
df['Comfort_Convenience']

0        Air conditioning,Armrest,Automatic climate con...
1        Air conditioning,Automatic climate control,Hil...
2        Air conditioning,Cruise control,Electrical sid...
3        Air suspension,Armrest,Auxiliary heating,Elect...
4        Air conditioning,Armrest,Automatic climate con...
                               ...
15914    Air conditioning,Automatic climate control,Cru...
15915    Air conditioning,Automatic climate control,Cru...
15916    Air conditioning,Armrest,Automatic climate con...
15917    Air conditioning,Automatic climate control,Cru...
15918    Air conditioning,Automatic climate control,Cru...
Name: Comfort_Convenience, Length: 15919, dtype: object

# 41  Entertainment & Media

Veriler temizlenerek liste dışına çıkarıldı. Header düzenlendi.

In [219]:
df[['\nEntertainment & Media\n']].sample(10)

                               \nEntertainment & Media\n
11742  [Bluetooth, Hands-free equipment, MP3, On-boar...
11405                                                NaN
636     [Bluetooth, CD player, On-board computer, Radio]
9318   [Bluetooth, Hands-free equipment, MP3, On-boar...
9025                                                 NaN
5817   [Bluetooth, Hands-free equipment, MP3, On-boar...
11303                         [On-board computer, Radio]
5057                           [Bluetooth, Sound system]
12037  [Bluetooth, Hands-free equipment, On-board com...
10878  [Bluetooth, CD player, Digital radio, Hands-fr...

In [220]:
df['\nEntertainment & Media\n'][7233]

['Bluetooth', 'Hands-free equipment', 'On-board computer', 'Radio', 'USB']

In [221]:
df['\nEntertainment & Media\n'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Bluetooth, Hands-free equipment, On-board computer, Radio, USB]                    1282
[Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, USB]                982
[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB]     783
[On-board computer, Radio]                                                           487
[Radio]                                                                              477
                                                                                    ...
[Bluetooth, CD player, Digital radio, MP3, Radio, Sound system, USB]                   1
[Bluetooth, Digital radio, On-board computer, Radio, Television, USB]                  1
[Bluetooth, CD player, Hands-free equipment, Sound system, USB]                        1
[CD player, Digital radio, Hands-free equipment, MP3, On-board computer, Radio]        1
[CD player, Hands-free equipment, On-board computer, Sound system]                     1
Name: \nEntertainment & Media\n, Length: 346, dtype: int64

In [222]:
df.rename(columns={'\nEntertainment & Media\n':'Entertainment_Media'}, inplace=True)

In [223]:
many_item('Entertainment_Media')

In [224]:
df['Entertainment_Media']

0        Bluetooth,Hands-free equipment,On-board comput...
1        Bluetooth,Hands-free equipment,On-board comput...
2                                    MP3,On-board computer
3        Bluetooth,CD player,Hands-free equipment,MP3,O...
4        Bluetooth,CD player,Hands-free equipment,MP3,O...
                               ...
15914    Bluetooth,Digital radio,Hands-free equipment,O...
15915    Bluetooth,Digital radio,Hands-free equipment,R...
15916    Bluetooth,Hands-free equipment,On-board comput...
15917                    Bluetooth,Digital radio,Radio,USB
15918                                                  USB
Name: Entertainment_Media, Length: 15919, dtype: object

# 42 Extras

Veriler temizlenerek liste dışına çıkarıldı. Header düzenlendi.

In [225]:
df[['\nExtras\n']].sample(10)

                                              \nExtras\n
8830                                      [Alloy wheels]
6518            [Roof rack, Touch screen, Voice Control]
10353  [Alloy wheels, Catalytic Converter, Handicappe...
10815  [Alloy wheels, Catalytic Converter, Roof rack,...
7798                        [Alloy wheels, Touch screen]
6084                                                 NaN
4061                                      [Alloy wheels]
3698       [Alloy wheels, Sport seats, Sport suspension]
3841                       [Alloy wheels, Voice Control]
14560               [Catalytic Converter, Voice Control]

In [226]:
df['\nExtras\n'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Alloy wheels]                                                                                                    3245
[Alloy wheels, Touch screen]                                                                                       697
[Alloy wheels, Voice Control]                                                                                      577
[Alloy wheels, Touch screen, Voice Control]                                                                        541
[Alloy wheels, Roof rack]                                                                                          385
                                                                                                                  ...
[Alloy wheels, Cab or rented Car, Catalytic Converter, Roof rack, Sport seats]                                       1
[Alloy wheels, Handicapped enabled, Shift paddles, Sport package, Sport seats, Sport suspension, Touch screen]       1
[Alloy wheels, Right hand drive, Sport package, Voice Control, Winter tyres]                                         1
[Alloy wheels, Shift paddles, Sport package, Touch screen]                                                           1
[Alloy wheels, Catalytic Converter, Roof rack, Ski bag, Sport package, Touch screen, Voice Control]                  1
Name: \nExtras\n, Length: 659, dtype: int64

In [227]:
df.rename(columns={'\nExtras\n':'Extras'}, inplace=True)

In [228]:
def many_item(x):
    df[x]=[",".join(item) if type(item)==list else item for item in df[x]]

In [229]:
many_item('Extras')

In [230]:
df.Extras

0           Alloy wheels,Catalytic Converter,Voice Control
1        Alloy wheels,Sport seats,Sport suspension,Voic...
2                               Alloy wheels,Voice Control
3                   Alloy wheels,Sport seats,Voice Control
4        Alloy wheels,Sport package,Sport suspension,Vo...
                               ...
15914                            Alloy wheels,Touch screen
15915              Alloy wheels,Touch screen,Voice Control
15916                                         Alloy wheels
15917                            Alloy wheels,Touch screen
15918                            Alloy wheels,Touch screen
Name: Extras, Length: 15919, dtype: object

# 43 Safety & Security

Veriler temizlenerek liste dışına çıkarıldı. Header düzenlendi.

In [231]:
df[['\nSafety & Security\n']].sample(10)

                                   \nSafety & Security\n
11862  [ABS, Adaptive headlights, Blind spot monitor,...
5261   [ABS, Central door lock, Central door lock wit...
6093   [ABS, Central door lock, Daytime running light...
7885   [ABS, Blind spot monitor, Central door lock, D...
7940                                                 NaN
10676  [ABS, Electronic stability control, Fog lights...
3635   [ABS, Central door lock with remote control, D...
1477   [ABS, Central door lock, Daytime running light...
10560  [ABS, Alarm system, Central door lock, Central...
9908   [ABS, Alarm system, Central door lock, Daytime...

In [232]:
df['\nSafety & Security\n'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                           538
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                       480
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                                                                                                     275
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                               272
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                           228
                                                                                                                                                                                                                                                                                                                                                                                    ...
[ABS, Alarm system, Central door lock, Central door lock with remote control, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency system, Fog lights, Head airbag, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                         1
[ABS, Central door lock, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                                                                                                               1
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Immobilizer, Isofix, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                                                1
[ABS, Alarm system, Central door lock, Central door lock with remote control, Driver-side airbag, Head airbag, Isofix, Passenger-side airbag, Power steering, Rear airbag, Side airbag]                                                                                                                                                                                                1
[ABS, Adaptive Cruise Control, Alarm system, Central door lock, Central door lock with remote control, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Head airbag, Immobilizer, Isofix, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]      1
Name: \nSafety & Security\n, Length: 4443, dtype: int64

In [233]:
df.rename(columns={'\nSafety & Security\n':'Safety_Security'}, inplace=True)

In [234]:
many_item('Safety_Security')

In [235]:
 df['Safety_Security']

0        ABS,Central door lock,Daytime running lights,D...
1        ABS,Central door lock,Central door lock with r...
2        ABS,Central door lock,Daytime running lights,D...
3        ABS,Alarm system,Central door lock with remote...
4        ABS,Central door lock,Driver-side airbag,Elect...
                               ...
15914    ABS,Central door lock,Central door lock with r...
15915    ABS,Adaptive Cruise Control,Blind spot monitor...
15916    ABS,Adaptive Cruise Control,Blind spot monitor...
15917    ABS,Blind spot monitor,Driver-side airbag,Elec...
15918    ABS,Blind spot monitor,Daytime running lights,...
Name: Safety_Security, Length: 15919, dtype: object

# 44 description

    Sütun içindeki veriler diğer sütunlarda verildiği için bu sütun verisine ihtiyaç kalmadı ve sütun drop edildi.

In [236]:
df[['description']].sample(10)

                                             description
3149                                                  []
12352  [\nAngebots-Nr. J1158379, Ausstattung:,  , LED...
2226   [\n, Außenausstattung, beheizbare Außenspiegel...
1253   [\nPrecio con oferta de financiación: 14.100 E...
911    [\n, Highlights: , Qualitätssiegel GW:plus, 1....
8986   [\nEstado del vehículo: EXCELENTE ,  , PRECIO ...
15717  [\n, Espace 4 Initial Paris Energy dCi 160cv E...
9739   [\n, Sonderausstattung:, LM-Felgen 6x16 (8-Spe...
10200  [\n, Für Tippfehler keine Haftung! Irrtümer un...
7705   [\n, Getriebe:,  Automatik, Technik:,  Bordcom...

In [237]:
df['description'][12286]

['\n',
 'Sonderausstattung:',
 'Edition-Paket, Gepäckraum-Abtrennung (Netz), LM-Felgen 7,5x17 (5-Doppelspeichen), Parkpilotsystem vorn und hinten, Reifendruck-Kontrollsystem, Sonderlackierung Brillant',
 'Weitere Ausstattung:',
 '3-Punkt-Sicherheitsgurt hinten mitte, Airbag Fahrer-/Beifahrerseite, Audiosystem R 4.0 IntelliLink, Außenspiegel anklappbar und elektr. verstell- und heizbar, Außenspiegel Wagenfarbe, Bremsassistent, Dach, Design-Ausführung, Drehzahlmesser, Elektron. Stabilitäts-Programm Plus (ESP), Elektron. Traktionskontrolle, Fahrassistenz-System: Berganfahr-Assistent (HSA, Hill Start Assist), Fensterheber elektrisch hinten, Feststellbremse elektrisch, Frontkamera, Heckleuchten LED, Heckscheibenwischer mit Intervallschaltung, Isofix-Aufnahmen für Kindersitz an Rücksitz, Karosserie: 5-türig, Kindersicherung, Kopf-Airbag-System, Kopfstützen hinten (3-fach), Motor 1,5 Ltr. - 103 kW 16V SIDI Turbo, OnStar SOS Service, Reifendruckwarner, Schadstoffarm nach Abgasnorm Euro 6, Seitenairbag vorn, Sonnenblenden mit Spiegel (beleuchtet), Start/Stop-Anlage, Türgriffe außen Wagenfarbe',
 'Finanzierung auch ohne Anzahlung zu günstigen Konditionen.',
 ' Inzahlungnahme zu fairen Preisen. Weitere Informationen erhalten Sie unter www.muellerauto.de oder von unserem geschulten Verkaufspersonal.',
 'Eingabeirrtum ausdrücklich vorbehalten. Wir finden die passende Lösung.',
 ' Das Team von der Müller Automobile GmbH wünscht gute Fahrt.\n']

In [238]:
df.drop('description', axis=1, inplace=True)

# 45  Emission Label

    Verilerin price'a bir etkisi olmayacağından drop edildi.

In [239]:
df[['Emission Label']].sample(10)

        Emission Label
9979   [\n4 (Green)\n]
3387               NaN
15066              NaN
2169   [\n4 (Green)\n]
7568               NaN
14465              NaN
2101   [\n4 (Green)\n]
13653              NaN
806                NaN
15773  [\n4 (Green)\n]

In [240]:
df['Emission Label'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4 (Green)\n]         3553
[\n1 (No sticker)\n]     381
[[], [], []]              40
[\n5 (Blue)\n]             8
[\n3 (Yellow)\n]           2
[\n2 (Red)\n]              1
Name: Emission Label, dtype: int64

In [241]:
df.drop('Emission Label', axis=1, inplace=True)

# 46  Gears

    Veriler temizlenerek liste dışına çıkarıldı.

In [242]:
df[['Gears']].sample(10)

         Gears
11332  [\n6\n]
13151      NaN
8973   [\n5\n]
46     [\n5\n]
7289   [\n6\n]
12213  [\n6\n]
2982   [\n7\n]
10185  [\n5\n]
4004   [\n7\n]
8960   [\n5\n]

In [243]:
df['Gears'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n6\n]     5822
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n4\n]        2
[\n3\n]        2
[\n1\n]        2
[\n50\n]       1
[\n2\n]        1
Name: Gears, dtype: int64

In [244]:
def data_clean(x):
    liste = []
    for i in df[x]:
        if type(i) == list:
            liste.append(i[0])
        else:
            liste.append(i)
    df_liste= pd.DataFrame(liste)
    df[x] = df_liste
    df[x].replace('\n','',regex=True, inplace=True)

In [245]:
data_clean('Gears')

In [246]:
df.Gears.value_counts()

6     5822
5     3239
7     1908
8      224
9        6
4        2
3        2
1        2
50       1
2        1
Name: Gears, dtype: int64

# 47  Country version

    Price'a etki etmediği için drop edildi.

In [247]:
df[['Country version']].sample(10)

      Country version
11901   [\nGermany\n]
454               NaN
831               NaN
456               NaN
6022              NaN
15870   [\nGermany\n]
7894              NaN
10660   [\nGermany\n]
5379              NaN
10615             NaN

In [248]:
df['Country version'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nGermany\n]           4502
[\nItaly\n]             1038
[\nEuropean Union\n]     507
[\nNetherlands\n]        464
[\nSpain\n]              325
[\nBelgium\n]            314
[\nAustria\n]            208
[\nCzech Republic\n]      52
[\nPoland\n]              49
[\nFrance\n]              38
[\nDenmark\n]             33
[\nHungary\n]             28
[\nJapan\n]                8
[\nSlovakia\n]             4
[\nCroatia\n]              4
[\nSweden\n]               3
[\nRomania\n]              2
[\nBulgaria\n]             2
[\nSerbia\n]               1
[\nSwitzerland\n]          1
[\nSlovenia\n]             1
[\nEgypt\n]                1
[\nLuxembourg\n]           1
Name: Country version, dtype: int64

In [249]:
df.drop('Country version', axis=1, inplace=True)

# 48  Electricity consumption

    Veriler temizlenerek liste dışına çıkarıldı. Header düzenlendi.

In [251]:
df[['Electricity consumption']].sample(10)

      Electricity consumption
3991                      NaN
11722                     NaN
7653                      NaN
1788                      NaN
7909                      NaN
5763                      NaN
2203                      NaN
12987                     NaN
5510                      NaN
5074                      NaN

In [252]:
df['Electricity consumption'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n0 kWh/100 km (comb)\n]    137
Name: Electricity consumption, dtype: int64

In [253]:
df.rename(columns={'Electricity consumption':'Electricity_Consumption'}, inplace=True)

# 49  Last Service Date

    Price'a etki etmediği için drop edildi.

In [254]:
df[['Last Service Date']].sample(10)

      Last Service Date
13296               NaN
14799               NaN
11046               NaN
12369               NaN
3975                NaN
3431                NaN
1227                NaN
9277                NaN
7855                NaN
8085                NaN

In [255]:
df['Last Service Date'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n02/2019\n, \nEuro 6\n]                                                                          23
[\n05/2019\n, \nEuro 6\n]                                                                          16
[\n01/2018\n, \n118 g CO2/km (comb)\n]                                                             15
[\n03/2019\n, \nEuro 6\n]                                                                          15
[\n04/2019\n, \nEuro 6\n]                                                                          13
                                                                                                   ..
[\n03/2019\n, \nEuro 6d-TEMP\n]                                                                     1
[\n08/2019\n, \nEuro 6\n]                                                                           1
[\n01/2018\n, \nEuro 6\n]                                                                           1
[\n04/2019\n, \n, 5.6 l/100 km (comb), \n, 7.2 l/100 km (city), \n, 4.7 l/100 km (country), \n]     1
[\n02/2019\n, \nEuro 6d\n]                                                                          1
Name: Last Service Date, Length: 266, dtype: int64

In [256]:
df.drop('Last Service Date', axis=1, inplace=True)

# 50  Other Fuel Types

    Tüm veri null olduğu için drop edildi.

In [257]:
df[['Other Fuel Types']].sample(10)

      Other Fuel Types
5574               NaN
10713              NaN
2726               NaN
11998              NaN
124                NaN
432       [[], [], []]
5977               NaN
3632               NaN
10189     [[], [], []]
8754               NaN

In [258]:
df['Other Fuel Types'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[[], [], []]    880
Name: Other Fuel Types, dtype: int64

In [259]:
df.drop('Other Fuel Types', axis=1, inplace=True)

# 51  Availability

    Price'a etki etmediği için drop edildi.

In [260]:
df[['Availability']].sample(10)

      Availability
14539          NaN
3391           NaN
1656           NaN
2822           NaN
4499           NaN
47             NaN
4565           NaN
5445           NaN
924            NaN
7754           NaN

In [261]:
df['Availability'].value_counts()

\nin 90 days from ordering\n     196
\nin 120 days from ordering\n    182
\nin 1 day from ordering\n        51
\nin 3 days from ordering\n       35
\nin 5 days from ordering\n       35
\nin 14 days from ordering\n      24
\nin 180 days from ordering\n     24
\nin 7 days from ordering\n       20
\nin 150 days from ordering\n     18
\nin 2 days from ordering\n       16
\nin 60 days from ordering\n      13
\nin 42 days from ordering\n      10
\nin 21 days from ordering\n       8
\nin 4 days from ordering\n        2
\nin 6 days from ordering\n        1
Name: Availability, dtype: int64

In [262]:
df.drop('Availability', axis=1, inplace=True)

# 52 Last Timing Belt Service Date

    Price'a etki etmediği için drop edildi.

In [263]:
df[['Last Timing Belt Service Date']]

      Last Timing Belt Service Date
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
...                             ...
15914                           NaN
15915                           NaN
15916                           NaN
15917                           NaN
15918                           NaN

[15919 rows x 1 columns]

In [264]:
df['Last Timing Belt Service Date'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n04/2016\n]                2
[\n01/2019\n]                1
[\n01/1970\n]                1
[\n05/2019\n]                1
[\n06/2017\n]                1
[\n04/2019\n]                1
[\n01/1900\n]                1
[\n02/2018\n]                1
[\n05/2018\n, \nEuro 6\n]    1
[\n01/2018\n]                1
[\n07/2018\n]                1
[\n02/2019\n]                1
[\n09/2018\n]                1
[\n06/2019\n]                1
[\n12/1900\n]                1
Name: Last Timing Belt Service Date, dtype: int64

In [265]:
df.drop('Last Timing Belt Service Date', axis=1, inplace=True)

# 53 Available from

    Price'a etki etmediği için drop edildi.

In [266]:
df[['Available from']]

      Available from
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
...              ...
15914            NaN
15915            NaN
15916            NaN
15917            NaN
15918            NaN

[15919 rows x 1 columns]

In [267]:
df['Available from'].value_counts()

\n31/08/19\n    98
\n30/07/19\n    25
\n15/08/19\n    24
\n16/09/19\n    14
\n29/06/19\n    12
\n01/07/19\n    11
\n28/06/19\n    10
\n19/08/19\n     7
\n10/09/19\n     6
\n10/11/19\n     5
\n27/06/19\n     5
\n26/06/19\n     5
\n08/07/19\n     4
\n01/08/19\n     3
\n15/07/19\n     3
\n25/10/19\n     3
\n04/07/19\n     2
\n20/07/19\n     2
\n16/07/19\n     2
\n05/07/19\n     2
\n30/06/19\n     2
\n05/08/19\n     2
\n24/08/19\n     2
\n02/07/19\n     1
\n01/09/19\n     1
\n29/07/19\n     1
\n27/07/19\n     1
\n10/10/19\n     1
\n05/12/19\n     1
\n19/07/19\n     1
\n16/08/19\n     1
\n24/09/19\n     1
\n10/07/19\n     1
\n06/12/19\n     1
\n14/09/19\n     1
\n03/12/19\n     1
\n29/09/19\n     1
\n18/07/19\n     1
\n31/10/19\n     1
\n10/12/19\n     1
\n17/08/19\n     1
\n18/08/19\n     1
\n03/08/19\n     1
\n30/09/19\n     1
\n11/08/19\n     1
\n24/07/19\n     1
Name: Available from, dtype: int64

In [268]:
df.drop('Available from', axis=1, inplace=True)

In [269]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,15909,15910,15911,15912,15913,15914,15915,15916,15917,15918
Price,15770,14500,14640,14500,16790,15090,16422,14480,16700,17990,...,39990,39980,39980,39950,39950,39950,39885,39875,39700,40999
km,56013.0,80000.0,83450.0,73000.0,16200.0,63668.0,62111.0,14986.0,57000.0,16103.0,...,3500.0,8500.0,100.0,NaN,1000.0,NaN,9900.0,15.0,10.0,NaN
hp,66,141,85,66,66,85,85,66,85,70,...,147,165,118,147,165,147,165,146,147,165
Type,Used,Used,Used,Used,Used,Used,Used,Used,Used,Used,...,Demonstration,Demonstration,Pre-registered,New,Demonstration,New,Used,Pre-registered,Pre-registered,Demonstration
Warranty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,3.0,...,48.0,NaN,NaN,24.0,NaN,24.0,NaN,NaN,NaN,NaN
Brand,Audi,Audi,Audi,Audi,Audi,Audi,Audi,Audi,Audi,Audi,...,Renault,Renault,Renault,Renault,Renault,Renault,Renault,Renault,Renault,Renault
Model,A1,A1,A1,A1,A1,A1,A1,A1,A1,A1,...,Espace,Espace,Espace,Espace,Espace,Espace,Espace,Espace,Espace,Espace
First_Registration,2016,2017,2016,2016,2016,2016,2016,2016,2016,2017,...,2019,2019,2019,NaN,2019,NaN,2019,2019,2019,2019
Nr. of Doors,5.0,3.0,4.0,3.0,5.0,4.0,4.0,5.0,5.0,5.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
Number_of_Seats,5,4,4,4,5,5,5,5,4,4,...,5,5,7,5,7,5,5,7,7,5
Gearing_Type,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,...,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic
Engine_Disp_cc,1422.0,1798.0,1598.0,1422.0,1422.0,1598.0,1598.0,1422.0,1598.0,999.0,...,1997.0,1798.0,1598.0,1997.0,1798.0,1997.0,1798.0,1997.0,1997.0,1798.0
Cylinders,3.0,4.0,NaN,3.0,3.0,NaN,4.0,NaN,4.0,NaN,...,NaN,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
Drive chain,front,front,front,NaN,front,NaN,front,front,front,NaN,...,NaN,front,NaN,front,front,front,front,front,front,4WD
Fuel,Diesel,Benzine,Diesel,Diesel,Diesel,Diesel,Diesel,Diesel,Diesel,Benzine,...,Diesel,Benzine,Diesel,Diesel,Benzine,Diesel,Others,Diesel,Diesel,Benzine
CO2_Emission,99.0,129.0,99.0,99.0,109.0,9.0,98.0,97.0,97.0,NaN,...,NaN,153.0,123.0,139.0,153.0,139.0,168.0,139.0,139.0,153.0
Emission Class,Euro 6,Euro 6,Euro 6,Euro 6,Euro 6,Euro 6,Euro 6,Euro 6,Euro 6,NaN,...,NaN,Euro 6,Euro 6,NaN,Euro 6,NaN,NaN,Euro 6d-TEMP,Euro 6,Euro 6
Comfort_Convenience,"Air conditioning,Armrest,Automatic climate con...","Air conditioning,Automatic climate control,Hil...","Air conditioning,Cruise control,Electrical sid...","Air suspension,Armrest,Auxiliary heating,Elect...","Air conditioning,Armrest,Automatic climate con...","Air conditioning,Armrest,Automatic climate con...","Air conditioning,Armrest,Automatic climate con...","Air conditioning,Armrest,Electrical side mirro...","Air conditioning,Power windows",NaN,...,"Air conditioning,Automatic climate control,Cru...","Air conditioning,Automatic climate control,Cru...","Air conditioning,Armrest,Automatic climate con...","Air conditioning,Automatic climate control,Cru...","Air conditioning,Armrest,Automatic climate con...","Air conditioning,Automatic climate control,Cru...","Air conditioning,Automatic climate control,Cru...","Air conditioning,Armrest,Automatic climate con...","Air conditioning,Automatic climate control,Cru...","Air conditioning,Automatic climate control,Cru..."
Entertainment_Media,"Bluetooth,Hands-free equipment,On-board comput...","Bluetooth,Hands-free equipment,On-board comput...","MP3,On-board computer","Bluetooth,CD player,Hands-free equipment,MP3,O...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Bluetooth,Hands-free equipment,On-board comput...","Bluetooth,CD player,Hands-free equipment,On-bo...","CD player,MP3,Radio",Radio,NaN,...,"Bluetooth,Hands-free equipment,On-board comput...","Bluetooth,Hands-free equipment,On-board comput...","Bluetooth,Digital radio,Hands-free equipment,O...","Bluetooth,Digital radio,Hands-free equipment,O...","Bluetooth,Digital radio,Hands-free equipment,M...","Bluetooth,Digital radio,Hands-free equipment,O...","Bluetooth,Digital radio,Hands-free equipment,R...","Bluetooth,Hands-free equipment,On-board comput...","Bluetooth,Digital radio,Radio,USB",USB
Extras,"Alloy wheels,Catalytic Converter,Voice Control","Alloy wheels,Sport seats,Sport suspension,Voic...","Alloy wheels,Voice Control","Alloy wheels,Sport seats,Voice Control","Alloy wheels,Sport package,Sport suspension,Vo...","Alloy wheels,Sport package,Sport seats,Sport s...","Alloy wheels,Sport package,Sport seats,Sport s...",Alloy wheels,Alloy wheels,NaN,...,"Alloy wheels,Touch screen",Alloy wheels,"Alloy wheels,Touch screen,Voice Control","Alloy wheels,Touch screen","Alloy wheels,Catalytic Converter,Sport suspens...","Alloy wheels,Touch screen","Alloy wheels,Touch screen,Voice Control",Alloy wheels,"Alloy wheels,Touch screen","Alloy wheels,Touch screen"
Safety_Security,"ABS,Central door lock,Daytime running lights,D...","ABS,Central door lock,Central door lock with r...","ABS,Central door lock,Daytime running lights,D...","ABS,Alarm system,Central door lock with remote...","ABS,Central door lock,Driver-side airbag,Elect...","ABS,Central door lock,Daytime running lights,D...","ABS,Central door lock,Daytime running lights,D...","ABS,Central door lock,Daytime running lights,D...","ABS,Central door lock,Driver-side airbag,Elect...",NaN,...,"ABS,Blind spot monitor,Central door lock,Dayti...","ABS,Adaptive headlights,Central door lock,Dayt...","ABS,Adaptive Cruise Control,Central door lock,...","ABS,Central door lock,Central door lock with r...","ABS,Adaptive Cruise Control,Blind spot monitor...","ABS,Central door lock,Central door lock with r...","ABS,Adaptive Cruise Control,Blind spot monitor...","ABS,Adaptive Cruise Control,Blind spot monitor...","ABS,Blind spot monitor,Driver-side airbag,Elec...","ABS,Blind spot monitor,Daytime running lights,..."
Gears,NaN,7,NaN,6,NaN,NaN,NaN,7,7,7,...,7,7,NaN,6,NaN,6,7,6,6,NaN
Electricity_Consumption,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Body_Type,Sedan,Sedan,Sedan,Sedan,Sedan,Sedan,Station wagon,Compact,Sedan,Sedan,...,Van,Van,Van,Van,Van,Van,Van,Van,Van,Van
VAT_Deductable,True,False,True,False,False,False,True,True,False,False,...,True,True,True,True,True,True,True,True,True,True
Price_Negotiable,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Registration,2016-01-01 00:00:00,2017-03-01 00:00:00,2016-02-01 00:00:00,2016-08-01 00:00:00,2016-05-01 00:00:00,2016-02-01 00:00:00,2016-03-01 00:00:00,2016-02-01 00:00:00,2016-02-01 00:00:00,2017-06-01 00:00:00,...,2019-05-01 00:00:00,2019-02-01 00:00:00,2019-02-01 00:00:00,NaT,2019-04-01 00:00:00,NaT,2019-01-01 00:00:00,2019-03-01 00:00:00,2019-06-01 00:00:00,2019-01-01 00:00:00
Prev_Owner,2,NaN,1,1,1,1,1,1,1,NaN,...,NaN,1,1,NaN,NaN,NaN,1,1,NaN,1
Inspection_New,Yes,NaN,NaN,NaN,Yes,NaN,Yes,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,Yes
Body_Color,Black,Red,Black,Brown,Black,White,White,Red,Grey,White,...,Black,Blue,White,Black,White,Grey,Grey,White,Grey,Grey
Paint_Type,Metallic,NaN,Metallic,Metallic,Metallic,Metallic,Metallic,Metallic,Metallic,NaN,...,Metallic,Metallic,Metallic,Metallic,Metallic,Metallic,Metallic,NaN,NaN,Metallic
Uphol_Material,Cloth,Cloth,Cloth,nan,Cloth,Part leather,Part leather,Cloth,Cloth,nan,...,nan,Full leather,Full leather,nan,Full leather,nan,nan,Full leather,nan,Full leather
Uphol_Colors,Black,Grey,Black,nan,Black,Black,Black,Black,Grey,nan,...,nan,Other,Grey,nan,Brown,nan,Cloth,Black,Part leather,Brown
Country_Cons,4.3,7.1,4.4,4.3,4.6,4.3,4.3,4.2,4.3,NaN,...,NaN,8.0,5.1,6.2,8.7,6.2,6.0,6.2,6.2,8.7
City_Cons,3.5,4.7,3.4,3.5,3.8,3.1,3.4,3.4,3.4,NaN,...,NaN,5.0,4.4,4.7,5.7,4.7,NaN,4.7,4.7,5.7
Comb_Cons,3.8,5.6,3.8,3.8,4.1,3.5,3.7,3.7,3.7,NaN,...,NaN,6.0,4.7,5.3,6.8,5.3,NaN,5.3,5.3,6.8

In [270]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 36 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Price                    15919 non-null  int64
 1   km                       14895 non-null  float64
 2   hp                       15919 non-null  object
 3   Type                     15917 non-null  object
 4   Warranty                 4853 non-null   float64
 5   Brand                    15919 non-null  object
 6   Model                    15919 non-null  object
 7   First_Registration       14322 non-null  object
 8   Nr. of Doors             15707 non-null  float64
 9   Number_of_Seats          14942 non-null  object
 10  Gearing_Type             15919 non-null  object
 11  Engine_Disp_cc           15423 non-null  float64
 12  Cylinders                10239 non-null  float64
 13  Drive chain              9061 non-null   object
 14  Fuel                     15919 non-null  object
 15  CO2_Emission             13483 non-null  float64
 16  Emission Class           12898 non-null  object
 17  Comfort_Convenience      14999 non-null  object
 18  Entertainment_Media      14545 non-null  object
 19  Extras                   12957 non-null  object
 20  Safety_Security          14937 non-null  object
 21  Gears                    11207 non-null  object
 22  Electricity_Consumption  137 non-null    object
 23  Body_Type                15859 non-null  object
 24  VAT_Deductable           15919 non-null  bool
 25  Price_Negotiable         15919 non-null  bool
 26  Registration             14322 non-null  datetime64[ns]
 27  Prev_Owner               9091 non-null   object
 28  Inspection_New           3932 non-null   object
 29  Body_Color               15322 non-null  object
 30  Paint_Type               10147 non-null  object
 31  Uphol_Material           15919 non-null  object
 32  Uphol_Colors             15919 non-null  object
 33  Country_Cons             13483 non-null  float64
 34  City_Cons                12707 non-null  float64
 35  Comb_Cons                13036 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(9), int64(1), object(23)
memory usage: 4.2+ MB

## Import Libraries and Data

In [262]:
#df_dummied.to_csv("final_scout_dummy.csv", index=False)

In [271]:
df.to_csv("part_1_final_not_dummy.csv", index=False)

In [264]:
#pd.options.display.max_rows = 15